[2018-12-28 23:19] goldcaddy77 opened #1 "Add example of how to proxy to REST APIs"
Use [apollo-datasource-rest](https://github.com/apollographql/apollo-server/tree/master/packages/apollo-datasource-rest)

https://gist.github.com/goldcaddy77/df22bb57fd118ff5f046a32c27f4554c

[2018-12-29 15:33] goldcaddy77 opened #2 "Generate validation schema for consumption in front ends?"
Should we export the validations from class-validator so that consumers don't need to duplicate business logic to have client side validations?

[2019-01-01 17:53] goldcaddy77 opened #3 "Auto-inject Authorization token into playground"
See [this thread](https://github.com/prisma/graphql-playground/issues/788#issuecomment-427548837)

[2019-01-01 17:54] goldcaddy77 opened #4 "Need Logo"

[2019-01-04 05:46] goldcaddy77 opened #5 "Add custom scalars such as graphql-iso-date"
Look into package 'graphql-iso-date'

[2019-01-04 05:47] goldcaddy77 opened #6 "Add Better Logger"

[2019-01-04 05:49] goldcaddy77 opened #7 "Fix Context"
Right now it's using a very specific structure.

[2019-01-04 19:45] goldcaddy77 opened #8 "Dockerize Postgres instance"
The tests would be a lot more meaningful if they were always run in Postgres instead of sqlite.  I'd also be able to add tests for Enums, JSON and richer data types in the future (geometry).

[2019-01-05 22:50] goldcaddy77 opened #9 "schema.ts should not be needed in generated folder"
Need a more elegant solution for this.

[2019-01-08 06:54] goldcaddy77 opened #11 "Update dependencies to flexible with consuming projects"
The project is currently using edge versions of all libraries.  Need to figure out what versions should be used.

[2019-01-08 06:57] goldcaddy77 opened #12 "Example for how to generate migrations"
See https://github.com/typeorm/typeorm/blob/master/docs/migrations.md

[2019-01-08 07:00] goldcaddy77 opened #13 "Tests!"
Really need to add tests before folks should start consuming

[2019-01-09 04:30] richardbmx commented on #4
@goldcaddy77  Hi, my name is Richard. I'm a graphic designer and I love making contributions for open source projects. I see that they want a new logo for your application. If you wish, I can do it for you without any problem ... I can present some modern ideas that would improve the appearance and image of your project

[2019-01-14 18:17] deweyjose opened #24 "@ArgsType composite objects missing prototype information for child objects"
https://github.com/goldcaddy77/warthog/blob/54424fba7a1989d4607353debf0282ef5d9712eb/examples/1-simple-model/src/user.resolver.ts#L39

There will be missing prototype information on the 'data' and 'where' objects. Downstream code in typeorm called from BaseResolver.ts depends on prototype information. Decisions for query generation are made by statements that call instanceof Object, which evaluate

[2019-01-16 01:33] deweyjose opened #28 "Decouple schema and code generation from App"
May need to refactor and decouple the schema generators from App startup. Perhaps a Generator class that manage the generated code. This way we can generate code during the build process without needing a database running, which is required right now when the App object is instantiated.

[2019-01-19 15:57] goldcaddy77 commented on #28
Good idea - will give this a whirl this weekend.

[2019-01-19 16:00] goldcaddy77 commented on #24
@deweyjose could we get around this be coverting the plain object to an instance of the class using [
https://github.com/goldcaddy77/warthog/blob/master/src/utils/EntityCreator.ts#L4](EntityCreator)?

[2019-01-19 16:19] goldcaddy77 commented on #4
Hi Richard. I'd ❤️that. I was initially thinking something similar to the [Night Shift Owl](static1.squarespace.com/static/57ed18381b631b4217bef4b9/t/5829fbc929687f3584759099/1479146442986/NSB+Logo.jpg?format=1500w), but a Warthog, but open to check out whatever you come up with, too. Thanks!

[2019-01-19 16:30] richardbmx commented on #4
@goldcaddy77 the link you have put does not work if you can load it again it would be great

[2019-01-19 18:01] goldcaddy77 commented on #4
Link updated!  If you'd like to chat more synchronously, you can find me in gitter -
https://gitter.im/warthog-graphql/community

[2019-01-20 20:11] goldcaddy77 commented on #9
I now auto-generate this and index.ts as part of the build.  Closing.

[2019-01-20 20:11] #9 closed

[2019-01-20 20:35] goldcaddy77 commented on #1
OOS for this project (at least for now).  Closing.

[2019-01-20 20:35] #1 closed

[2019-01-23 22:06] deweyjose opened #38 "classes.ts import class name collisions"
The standard imports at the top of classes.ts can collide with class names imported from the models.

Field as an example

[2019-01-23 22:08] deweyjose opened #39 "TS6133"
All the model classes are imported regardless of use. This causes TS6133 compile errors, workaround is to set "noUnusedLocals": false in tsconfig.json

[2019-01-24 01:17] deweyjose opened #41 "absolute paths in classes.ts generated file"

[2019-01-24 15:08] goldcaddy77 commented on #41
💥 https://github.com/goldcaddy77/warthog/pull/42

[2019-01-26 04:57] goldcaddy77 commented on #41
Merged.

[2019-01-26 04:57] #41 closed

[2019-01-26 04:57] goldcaddy77 commented on #38
Fixed in https://github.com/goldcaddy77/warthog/pull/40

[2019-01-26 04:57] #38 closed

[2019-01-26 05:55] goldcaddy77 commented on #28
Addressed in https://github.com/goldcaddy77/warthog/pull/43/files

[2019-01-26 06:00] goldcaddy77 commented on #28
You actually need a database to generated the code right now as I piggyback on the TypeORM metadata, but I found a workaround where we can just use a sqlite connection, which we should be able to establish pretty cheap in any environment, including CI.

See https://github.com/goldcaddy77/warthog/blob/master/examples/2-complex-example/tools/generate.ts

[2019-02-14 20:04] deweyjose opened #56 "@Unique loses Enum type in generated code"
Try to use @Unique on a model. If a field specified in the Unique set is an enum the type is lost in the generated code.

// model
@Model()
@Unique(["name", "type"])
export class FormElement extends BaseModel {
    @StringField({ maxLength: 50 })
    name?: string;

    @EnumField('FormElementType', FormElementType, { nullable: true })
    type?: FormElementType;

    @OneToMany(() => FormFormElem

[2019-02-28 18:08] goldcaddy77 opened #57 "Separate service code from BaseResolver"
It would be nice to pull all of this code out so that it can be used in a more generic way.

[2019-02-28 18:58] goldcaddy77 commented on #57
Or it might be nice to call another resolver from the current one

[2019-02-28 18:58] goldcaddy77 commented on #57
Or it might be nice to call another resolver from the current one

[2019-03-12 00:54] 7KAG7 opened #58 "prereq typo"
If you're on OSX have have Homebrew installed, you can simply run:

should read

If you're on OSX and have Homebrew installed, you can simply run:

[2019-03-12 01:27] goldcaddy77 commented on #58
Sweet, want to fork and put in a PR?

[2019-03-12 02:21] 7KAG7 commented on #58
just added a PR, but went from a the master to the README.md, not sure if had that right. I also, like you said, should have put more details into the description. Even though it was simple I'm guessing folks like to know the detail. Let me know if you want me to do it over.

[2019-03-12 12:46] goldcaddy77 commented on #58
Hey, typically you'd just have a PR message here - everything else looks
great. It's aimed at my master branch... Which is correct.

Nice work guern!

On Mon, Mar 11, 2019 at 10:21 PM Keith <notifications@github.com> wrote:

[2019-03-12 12:47] goldcaddy77 commented on #58
Closing per
https://github.com/goldcaddy77/warthog/pull/59

[2019-03-12 12:47] #58 closed

[2019-03-12 19:07] 7KAG7 opened #60 "sh: yarn: command not found"
on npm start I get the following:

K-MacBook-Pro:~ k$ cd warthog-starter
K-MacBook-Pro:warthog-starter k$ npm start

sh: yarn: command not found
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn
npm ERR! warthog-example@0.0.0 start: `DEBUG=warthog* yarn start:ts`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the warthog-example@0.0.0 start script.
npm ERR!

[2019-03-13 00:28] goldcaddy77 commented on #60
The project assumes you're using yarn.

Run `npm i -g yarn@latest`

[2019-03-13 21:32] goldcaddy77 opened #61 "TYPEORM_SYNCHRONIZE not respecting `false` value"

[2019-03-13 21:40] goldcaddy77 opened #62 "Server should allow passing instance of `logger`"

[2019-03-14 02:13] goldcaddy77 commented on #62
@deweyjose - added the ability to specify custom logger: https://github.com/goldcaddy77/warthog/pull/63

[2019-03-14 02:13] #62 closed

[2019-03-14 02:22] goldcaddy77 commented on #61
@deweyjose - fixed in https://github.com/goldcaddy77/warthog/pull/64

[2019-03-14 02:22] #61 closed

[2019-03-14 02:37] goldcaddy77 commented on #56
@deweyjose are you just trying to make one of the fields unique or do you want the uniqueness to be on the pair of fields?

[2019-03-14 02:38] goldcaddy77 commented on #4
@richardbmx - did you end up coming up with anything?

[2019-03-14 02:39] goldcaddy77 commented on #7
Already fixed in previous version.

[2019-03-14 02:39] #7 closed

[2019-03-14 19:38] goldcaddy77 opened #66 "Only auto-generate typings in `development`"

[2019-03-15 05:54] goldcaddy77 commented on #66
Closed by https://github.com/goldcaddy77/warthog/pull/67/files

[2019-03-15 05:54] #66 closed

[2019-03-16 01:42] richardbmx commented on #4
@goldcaddy77  Greetings, sorry the delay I did not receive the notifications of your answer, I will work on the logo and in brebe I will send you some ideas

[2019-03-16 18:23] goldcaddy77 commented on #4
@richardbmx Sounds good 👍

[2019-03-18 17:25] richardbmx commented on #4
@goldcaddy77  I present my proposal developed in the idea that you pose of the Warthog in a very minimalist and unique way that works very well in different colors and sizes, I hope you like it, if you want any change you just have to ask me what I can do with pleasure

![logo127](https://user-images.githubusercontent.com/35604837/54549735-0a10e900-4981-11e9-840a-e5bc18d516d9.png)

[2019-03-19 14:03] goldcaddy77 opened #70 "DRY up duplicated code in `code-generator` and `createConnection`"

[2019-03-19 15:24] deweyjose commented on #70
I've had a lot of success with formali configuration objects in the past. A single WarthogConfig class that is mandatory for Server::constructor would help centralize the knowledge/focus of what is needed.

[2019-03-21 03:13] goldcaddy77 commented on #4
Wow, this is amazing!  Thanks for putting this together!!  A few things if you're down to riff on this a bit:

1. Is there a way to integrate the GraphQL logo somehow? (see below - pattern, not color)
2. Do you have any other font options you tried and liked?
3. The warthog looks totally badass - did you try a less viscious-looking version at all?  I had originally envisioned a more approachable-l

[2019-03-21 05:32] goldcaddy77 opened #72 "`contains` operator should be case insensitive"

[2019-03-22 06:23] #60 closed

[2019-03-22 06:24] #3 closed

[2019-03-25 14:06] deweyjose opened #73 "ability to configure mockdb"
- synchronize
- database file

[2019-03-26 01:52] goldcaddy77 commented on #73
Can we close this? Looks like it's covered by #74

[2019-03-26 01:52] #73 closed

[2019-03-26 17:22] #70 closed

[2019-03-27 04:42] overpod commented on #13
no tests !!! No production.
great idea for a product

[2019-03-28 04:20] goldcaddy77 commented on #13
Yeah, I hear you.  I'm going to beef up the test suite over the next month or so as the API solidifies.  Thanks for checking out my project!

[2019-04-01 13:13] richardbmx commented on #4
@goldcaddy77  Hello happy day ... I want to show you this variant that I have made focused on the changes that you suggest, I have used a slightly more straight text that gives more solids to the design and I have inserted in a simple way the GraphQL logo. I hope you like it if you want some change you just have to ask for it .. regards....

![logo127VARIANTE2](https://user-images.githubuserconten

[2019-04-01 15:31] goldcaddy77 commented on #4
Wow @richardbmx this is amazing... thanks again! I'd love to put this one in the README:

![6BF30011-BB87-40DD-8488-91F427516261](https://user-images.githubusercontent.com/573625/55339814-06915d80-5469-11e9-9482-e05ca0863f18.jpeg)

Do you want to shoot me high-res files? Should we use PNG or does a different format make more sense?

[2019-04-01 15:56] goldcaddy77 opened #78 "Gitignore npmrc file"

[2019-04-01 16:03] goldcaddy77 commented on #4
Actually, if you want to contribute by adding a PR putting the images in a top-level `images` folder, that works too.

[2019-04-01 17:38] richardbmx commented on #4
@goldcaddy77  Perfect I will generate the PR and additional to that I will make a google folder with all the necessary files to use or edit the design in the future, when I have everything ready I will mount the link of the folder here.

[2019-04-01 17:59] goldcaddy77 commented on #4
Excellent, thanks!!!

[2019-04-01 19:12] richardbmx commented on #4
@goldcaddy77  All the editable files in the google folder together with a file that makes delivery to the copyright for its free use.. Thank you very much for allowing me to work on your project, I am available for future projects if you wish

[Google Drive](https://drive.google.com/open?id=13V_F5l-IIt6BDjlvpcwvMzwMZUHtycAh)

[2019-04-10 19:11] deweyjose commented on #56
uniqueness across the set of fields

[2019-04-15 14:12] deweyjose opened #85 "add support for JSON fields"
https://github.com/taion/graphql-type-json

[2019-04-15 14:33] goldcaddy77 commented on #85
Thanks @deweyjose - will look into this.

[2019-04-15 15:07] deweyjose commented on #85
I think I was able to address it in this branch https://github.com/goldcaddy77/warthog/tree/support_json_type

[2019-04-15 17:55] deweyjose opened #87 "ability to customize BaseModel id type"
We'd like to use GUIDs for our model ids.

[2019-04-16 04:45] goldcaddy77 commented on #85
Closing https://github.com/goldcaddy77/warthog/pull/86

[2019-04-16 04:45] #85 closed

[2019-04-16 21:03] bdombro opened #90 "TypeError: Class constructor BaseModel cannot be invoked without 'new'"
I'm trying to impliment a basic example of migrations at https://github.com/bdombro/warthog-migration-example.

When running `ts-node tools/seed.ts`, or `ts-node-dev --type-check src/index.ts`, I get the following error and do not know how to fix.

`TypeError: Class constructor BaseModel cannot be invoked without 'new'`

I think it's a core issue.

[2019-04-16 23:06] bdombro commented on #90
Nevermind, i figured out the issue was with the tsconfig target. I borrowed the tsconfig from your starter, but realize now it's incompatible with latest

[2019-04-16 23:06] #90 closed

[2019-04-17 03:57] goldcaddy77 commented on #90
Ahhh nice catch.

[2019-04-17 03:58] goldcaddy77 commented on #56
@deweyjose can we close this now?

[2019-04-17 17:55] #56 closed

[2019-04-17 17:55] deweyjose commented on #56
looks good, thank you

[2019-04-22 00:32] goldcaddy77 commented on #4
@richardbmx - would it be possible to get:

- Scalable graphic by itself (both in color and also a vector scalable version that could be colored (svg or png)
- A copy of the graphic + font like you've already provided, but with little or no white padding around the outside.  The white padding is making it difficult to get the right size on mobile (see below)

Thanks again - a bunch of my friends h

[2019-04-22 01:11] richardbmx commented on #4
@goldcaddy77  Above I have left you a folder of google drive with all the editable files in SVG. AI. PDF

[2019-04-22 03:44] goldcaddy77 commented on #4
Ohhhh right.  Thanks!  Closing :)

[2019-04-22 03:44] #4 closed

[2019-05-01 04:41] goldcaddy77 commented on #72
Fixed in https://github.com/goldcaddy77/warthog/pull/93

[2019-05-01 04:41] #72 closed

[2019-05-01 04:41] goldcaddy77 commented on #57
Fixed in https://github.com/goldcaddy77/warthog/pull/92

[2019-05-01 04:41] #57 closed

[2019-05-01 04:42] #28 closed

[2019-05-01 05:25] goldcaddy77 opened #94 "Everything should happen in a transaction by default"
This can likely be accomplished using `TransactionRepository`:  https://github.com/typeorm/typeorm/blob/master/docs/transactions.md#transaction-decorators

[2019-05-03 05:08] popovserhii opened #96 "MySQL support"
README contains the next declaration:

Do you plan to support other RDB which are supported by [TypeORM](https://typeorm.io)?

[2019-05-03 13:04] goldcaddy77 commented on #96
Yes, this should be relatively easy to do. Feel free to take a crack at it if you'd like and shoot in a PR. The items you'll need to cover are:

- mapping of DB data types to driver in TypeORMConverter
- ensuring json and jsonb support continues to work
- you'll need to come up with your own ways to create and drop DBs and won't have docker support out of the box from [warthog-starter](https://git

[2019-05-04 00:34] goldcaddy77 commented on #8
Moved to https://github.com/goldcaddy77/warthog-starter

[2019-05-04 00:34] goldcaddy77 commented on #6
Moved to https://github.com/goldcaddy77/warthog-starter

[2019-05-04 00:34] #6 closed

[2019-05-04 12:16] bdombro commented on #12
I created an example --> https://github.com/bdombro/warthog-migration-example

@goldcaddy77 maybe add a link to it in the warthog README.md?

[2019-05-05 12:37] bdombro opened #97 "ts-node-dev restart slow"
When I make a change to a file, ts-node-dev restart takes 20+ seconds. My other projects that use ts-node-dev are less than a few seconds. Do you have any idea what the cause of the slow is? Can we improve that?

[2019-05-05 14:40] goldcaddy77 commented on #97
Interesting. Can you create a branch in your fork with a minimal example?

[2019-05-05 14:59] goldcaddy77 commented on #12
Sweet thanks. This should be part of this project's documentation, though... Probably another section in the README under https://github.com/goldcaddy77/warthog/blob/master/README.md#4-run-your-server . Maybe section 5. "Generate Migrations"?

[2019-05-08 20:39] goldcaddy77 commented on #97
@deweyjose - you were seeing something similar and ended up compiling using TSC, right?

[2019-05-15 14:21] goldcaddy77 opened #102 "Hard Delete Option"
Does it make sense to expose a hard delete option for folks that don't want to soft-delete?

[2019-05-18 04:03] popovserhii opened #103 "Custom Model without extends BaseModel"
Is it possible to create a simple model without fields which are presented in `BaseModel` except `ID` field?

Here is my model:
[code]
When I try to run `yarn generate:code` it returns error:
[code]

Am I doing something wrong?

[2019-05-18 04:24] goldcaddy77 commented on #103
Hey, can you create a branch that reproduces this and I'll take a look?

[2019-05-18 04:38] popovserhii commented on #103
Yes, of course. Please, check at this [branch](https://github.com/popovserhii/warthog-examples/tree/simple-model)

[2019-05-18 05:00] popovserhii commented on #103
There are many cases where we do not need to have all of these fields in Model, such as `deletedAt`, `updatedById`, `createdAt`, `createdById` etc.
I'd like to have my models as simple as possible without redundant fields.

[2019-05-20 19:02] bdombro commented on #12
Update: My example is now fully working and functional!

[2019-05-22 13:10] pjpritch commented on #102
I think adding an options hash to `delete(data, userId, _options_)` makes sense, with ability to use `options.__hardDelete__ = true` means hard-delete ...

[2019-05-25 20:51] goldcaddy77 commented on #103
Gotcha, so this would actually require a library update, which I can make this week. Once the change is in place you'd just need to create your own version of BaseModel like I do here with whatever options you want:

https://github.com/goldcaddy77/warthog/blob/master/src/core/BaseModel.ts

You could also just use both the TypeORM and TypeGraphQL decorators on each class you create, but that gets v

[2019-05-25 20:58] goldcaddy77 commented on #103
Looking at your error message again you're doubling up on decorators:

[code]

When you use Warthog's @Model it already adds an ObjectType decorator:

https://github.com/goldcaddy77/warthog/blob/master/src/decorators/Model.ts#L28

Same with all of the field decorators:

https://github.com/goldcaddy77/warthog/blob/master/src/decorators/StringField.ts#L26

Check out the examples folder for a good st

[2019-05-26 05:24] popovserhii commented on #103
@goldcaddy77, you are right, the problem was with redundant `@ObjectType()` decorator.
But now, when I try to create `RoleResolver` it requires `BaseModel` again. Is there any workaround about it?

![image](https://user-images.githubusercontent.com/1991183/58377685-d2c94480-7f8e-11e9-87ba-069d234ece94.png)

[2019-06-09 16:40] goldcaddy77 opened #109 "Fix Example 6 Error"
Currently, when you `yarn bootstrap` in example 6, you get:

[code]

[2019-06-10 22:16] goldcaddy77 opened #114 "Dataloaders do not filter out deleted records"
See https://github.com/typeorm/typeorm/blob/master/src/query-builder/RelationIdLoader.ts#L70

[2019-06-11 05:05] goldcaddy77 commented on #114
Fixed in https://github.com/goldcaddy77/warthog/pull/115

[2019-06-11 05:05] #114 closed

[2019-06-11 05:06] goldcaddy77 commented on #109
Fixed in https://github.com/goldcaddy77/warthog/pull/111

[2019-06-11 05:06] #109 closed

[2019-06-11 05:10] goldcaddy77 commented on #103
@popovserhii - sorry for slow response.  I'm not sure why that's happening.  Can you reproduce somewhere and shoot me a link?  A few ideas:

1. Try tweaking your tsconfig settings
2. Instead of using BaseResolver, you can try to instead use a vanilla resolver and instead call into BaseService like so:

- https://github.com/goldcaddy77/warthog/blob/master/examples/6-base-service/src/user.resolver.t

[2019-06-11 05:13] goldcaddy77 commented on #78
Fixed in https://github.com/goldcaddy77/warthog/pull/116

[2019-06-11 05:17] #78 closed

[2019-06-12 04:25] popovserhii commented on #103
The same problem with `Service`. It requires that all [`Model extends BaseModel`](https://github.com/goldcaddy77/warthog/blob/master/src/core/BaseService.ts#L10). Really we cannot even use `BaseModelUUID` because `BaseModel` should be always presented in the code.

We should simplify `BaseModel` and leave only `id` field or allow to developer personally decide which type pass to `Service`. Somethi

[2019-06-12 04:35] goldcaddy77 commented on #103
Gotcha, makes sense. So it sounds like you just don't want the version, timestamps and attribution columns right? If I update the library so that it doesn't break if you don't use BaseModel, would your use case be covered?

[2019-06-12 04:36] goldcaddy77 commented on #97
Just checking back in - are you still struggling with this? It's likely the code generation that is taking so long. Let me know if this is still an issue.

[2019-06-12 07:26] popovserhii commented on #103
Exactly, I just don't need a version, timestamp and other default columns in Model. And yes, if you can do this my use case will be covered.

[2019-06-16 16:56] goldcaddy77 opened #121 "Remove base `AuthChecker`"
There is a base AuthChecker that gets added that isn't relevant to most projects.  Remove it.

[2019-06-16 16:57] goldcaddy77 opened #122 "More performant `dataloader` pattern"
The current dataloader pattern creates a lot of loaders for each request.  We should build these on demand.

[2019-06-20 05:32] goldcaddy77 opened #132 "CLI for common commands"
The following would be cool:

- `codegen` - ✅autogenerates code from decorated models and resolvers
- `db:create` - ✅creates DB from your config
- `db:drop` - ✅drops DB
- `generate` - ✅generates a model, service and resolver
- `db:migrate` -  ✅migrates DB (proxies through TypeORM)
- `db:migrate:create` - ✅ auto-generates DB migration
- Also mention that we use [cosmiconfig](https://github.com/davi

[2019-06-20 05:32] goldcaddy77 commented on #132
Started here: https://github.com/goldcaddy77/warthog/pull/131

[2019-06-23 01:08] goldcaddy77 commented on #132
Also mention that we use [cosmiconfig](https://github.com/davidtheclark/cosmiconfig) in the README.

[2019-06-23 01:44] goldcaddy77 opened #134 "FloatField needs to support sqlite driver"
Run the following:

[code]

and we get:

[code]

[2019-06-23 01:51] goldcaddy77 commented on #134
Nor does JSONB:

[code]

[2019-06-25 13:16] tkvw opened #147 "Split project"
I really like your solution, is it possible to split the project in a `@warthog/core` and `@warthog/server` package? I like to use it inside `nestjs` and don't need all the dependencies from the server requirements. Also, this would allow `@warthog/nestjs`?

[2019-06-25 14:44] tkvw commented on #147
Something like: https://github.com/tkvw/warthog/tree/monorepo

[2019-06-25 22:15] goldcaddy77 commented on #147
Interesting idea. A few questions:

- Which pieces of Nest.js do you want that warthog doesn’t provide?
- What specific parts of Warthog would you be using? Ultimately we’d need a way to gather metadata from your project to add any of the auto-generation pieces
- Would you be ok if there was a reliance on TypeORM? I wasn’t planning on supporting other ORMs for a while

[2019-06-25 22:35] tkvw commented on #147
* Maturity, nice separation of concerns, lots of tests, high involvement, good docs. For me there's no added value to have another DI framework.

* Generation of graphql types! Base resolvers. I come from rest, these are my first days of GraphQL. Because of the static schema, I thought: this is going to be a lot of repeat yourself code; this should be generated. Using a search criteria I came upon

[2019-06-28 04:08] goldcaddy77 commented on #134
Fixed here: https://github.com/goldcaddy77/warthog/pull/151

[2019-06-28 04:09] #134 closed

[2019-06-28 04:58] goldcaddy77 commented on #103
@popovserhii I took a stab at what you were asking for here: https://github.com/goldcaddy77/warthog/pull/152/files#diff-325440f1fb60c7c5716bc13d6e8e4dffR90

Let me know what you think.  What were you thinking to use for IDs?  Also, since there is a stong assumption that we use soft deletes, you'll minimally need the `deletedAt` field.

[2019-07-05 05:31] goldcaddy77 commented on #2
OOS for this project for now.  Can bring back up in the future if people are interested.

[2019-07-05 05:31] #2 closed

[2019-07-05 05:33] goldcaddy77 commented on #39
@deweyjose I now `// @ts-ignore` each of these imports, so we should be able to turn `noUnusedLocals` back on.  Closing

[2019-07-05 05:33] #39 closed

[2019-07-05 05:34] goldcaddy77 commented on #87
This is supported now... see: https://github.com/goldcaddy77/warthog/blob/a2cf3eb554bff4b8b0cc27064ebaa30a83be12e7/src/core/BaseModel.ts#L71

[2019-07-05 05:34] #87 closed

[2019-07-05 05:36] goldcaddy77 commented on #103
@popovserhii - what do you think of ^^^?

[2019-07-05 06:10] goldcaddy77 commented on #132
Done... just need to make DB updates.

[2019-07-05 07:58] goldcaddy77 commented on #121
Done.

[2019-07-05 07:58] #121 closed

[2019-07-07 10:30] popovserhii commented on #103
@goldcaddy77, sorry for a long delay.
It is what I need. Only one question, why do we need `deletedAt` field in `MinimalModel`? I understand that **_soft deletes_** is appropriate in most cases but sometimes we really need **_hard delete_** from a database.

I have one project where data is collecting for history every half hour and during the day the number of new rows increases up to ~432000, th

[2019-07-12 16:06] bdombro commented on #97
Hey! Sorry I had to pause my Warthog work for a month. I'll jump back in
soon.

On Wed, Jun 12, 2019 at 12:36 AM Dan Caddigan <notifications@github.com>
wrote:

[2019-07-20 01:27] goldcaddy77 commented on #13
@overpod - test coverage up to 79%.  See https://github.com/goldcaddy77/warthog/pull/163 - more coming.

[2019-07-28 14:42] goldcaddy77 commented on #122
Proposed API: `context.getDataloader(resourceName, resourceInstance, fieldResolver)`

[2019-07-29 00:58] goldcaddy77 commented on #13
Closing this as test coverage is now over 87%:  https://codecov.io/gh/goldcaddy77/warthog/commits

[2019-07-29 06:00] goldcaddy77 opened #175 "Add tests for Enums"
TypeORM has a bug with sqlite that is preventing us from testing Enums.  See:

- https://github.com/typeorm/typeorm/issues/4147
- https://github.com/typeorm/typeorm/pull/4379

[2019-07-30 02:39] goldcaddy77 opened #177 "Run tests against generated code in CI"

[2019-07-30 06:00] overpod commented on #13
This is a great job. I think to try the product on the pet project.

[2019-07-30 06:02] overpod commented on #13
Must close the issue.

[2019-07-30 11:36] #13 closed

[2019-07-31 05:31] goldcaddy77 commented on #132
Done

[2019-07-31 05:31] #132 closed

[2019-07-31 05:33] goldcaddy77 commented on #12
Closing.  I have a big README update coming.

[2019-07-31 05:33] #12 closed

[2019-07-31 05:33] goldcaddy77 commented on #5
Closing for now.  As it is, dates are supported already.

[2019-07-31 05:33] #5 closed

[2019-08-02 19:08] deweyjose opened #182 "Allow optional 'id' in create input types"
We have cases were we'd like to import external IDs and use those for our objects.

[2019-08-02 19:12] deweyjose opened #183 "dataloader not working when relations have LONG names"
console.log node_modules/typeorm/query-builder/RelationIdLoader.js:102
    keys {"DcaFileUploadFormFormElementSubmission_dcaFileUploadFormFormEle":"dK0OSfkbOp","DcaFormFormElementSubmission_id":"Q9zx_tP7H6"}

  console.log node_modules/typeorm/query-builder/RelationIdLoader.js:103
    column.getEntityValue dK0OSfkbOp

  console.log node_modules/typeorm/query-builder/RelationIdLoader.js:104
    rel

[2019-08-02 19:16] deweyjose commented on #183
could be related https://github.com/typeorm/typeorm/issues/1742

[2019-08-03 00:40] goldcaddy77 commented on #183
@deweyjose - you're right it seems to relate to that issue. Can you turn on TypeORM logging and see what postgres says exactly?

[2019-08-07 05:09] goldcaddy77 opened #185 "Why Warthog instead of X"
Add a section to the README outlining why folks would use Warthog over X framework:

- Prisma
- Hasura
- AppSync
- TypeGraphQL (raw TGQL - note that Warthog uses TypeGraphQL under the covers)
- nexus-prisma - https://github.com/prisma/nexus-prisma

See also: https://www.reddit.com/r/graphql/comments/ah27k1/postgraphile_vs_hasura_vs_prisma_vs_appsync/?st=JR79GMFJ&sh=ea75987d

[2019-08-13 11:14] IniZio opened #190 "Postgres timestamp field (intentionally?) unsupported?"
https://github.com/goldcaddy77/warthog/blob/ef79436357bacc32deec1f02f40f21e051bd0860/src/schema/TypeORMConverter.ts#L94

Here the 'timestamp' type is ignored, which causes
[code]

when I use `DateField`

Not sure why it is commented out though?

[2019-08-13 19:49] goldcaddy77 commented on #190
Good catch. Will fix right away.

[2019-08-14 00:37] IniZio commented on #190
Also not sure if primitive arrays are supported? :thinking:

[2019-08-14 00:40] goldcaddy77 commented on #190
Primitive arrays should work. Why do you think they might not?

[2019-08-14 00:49] goldcaddy77 commented on #190
@IniZio : https://github.com/goldcaddy77/warthog/pull/191 to fix `timestamp`.   Please open a new issue if you find something with primitive arrays

[2019-08-14 00:49] #190 closed

[2019-08-14 01:16] IniZio opened #193 "No support for primitive array"
Mentioned in #190 , there is no primitive array decorator in https://github.com/goldcaddy77/warthog/tree/master/src/decorators.

Now if i use the normal typeorm + type-graphql way i.e.
[code]

it will obviously not work because they do not have the meta and will get parsed into string, causing type error

[2019-08-14 03:47] goldcaddy77 commented on #182
Added in https://github.com/goldcaddy77/warthog/pull/194, closing.

[2019-08-14 03:47] #182 closed

[2019-08-14 03:50] goldcaddy77 commented on #193
Good catch.  How would you expect this to work?

- Sorting: likely doesn't make sense
- Filtering: what operators should be supported?  Perhaps just `contains`?

Do you know if TypeORM/Postgres have the operators to cleanly filter in array columns?

[2019-08-14 04:43] IniZio commented on #193
Yes that is what I was concerned too because will need to generate a raw query for each kind of database.

Before i tried warthog, I set array field in models like
[code]

and then use filter like
[code]

I think will need to generate raw queries like this?

[2019-08-14 12:09] goldcaddy77 commented on #193
To make this work with how I'm currently doing things in Warthog we'll likely need to make use of the `Raw` operator here:

https://github.com/typeorm/typeorm/blob/master/docs/find-options.md

...and have it map to Postgres`s array search operator:

[code]

See: https://www.fulcrumapp.com/blog/tips-postgresql-arrays/

[2019-08-15 01:34] IniZio commented on #193
Will see if I have time for to create a PR :)

[2019-09-07 03:41] goldcaddy77 opened #205 "Add "connection" class with total count returned"
Use TypeORM findAndCount

[2019-09-11 23:41] goldcaddy77 opened #208 "Logic for determining whether something is an "id" field is incorrect"
In the event where you have fields that end in `Id` that are not IDs, they get the wrong set of filters:

- `userId` - is an email address
- `externalId` - could be something else that should be searchable like a string

We should make sure to only give the ID treatment to ID fields.

[2019-09-11 23:43] goldcaddy77 commented on #208
Be smarter here: https://github.com/goldcaddy77/warthog/blob/master/src/schema/TypeORMConverter.ts#L55-L57

[2019-09-13 17:18] goldcaddy77 opened #218 "How can I avoid dependabot alerts on `examples` folder?"

[2019-09-27 23:58] vadistic commented on #147
@tkvw As Proof of Concept I extracted some warthog logic and packed it as NestJS module: https://github.com/vadistic/nestjs-warthog

It works quite nice - see tests, but I have one big shizzle. Relations.

1) Without relations inputs and with them base services typings are half useless, because I wanted them for public api inputs.

2) I could add prisma-like {create: {}, connect: {})` logic, but t

[2019-10-06 17:33] goldcaddy77 opened #223 "Unique decorator that incorporates `deletedAt` field"

[2019-10-23 16:57] nwmartin commented on #208
Would this result in some generation behavior like this?

[code]

I may have just run into this. Why do we need to ensure a GraphQLID type for all columns ending in ID exactly? Couldn't this be more manually specific? I might be missing something here.

[2019-10-24 04:57] goldcaddy77 commented on #208
Yes, this is incorrect. We should remove the magic around ID fields getting their ID treatment from the field name. It should come from using a specific decorator or being a OneToMany/ManyToOne

[2019-11-01 04:20] goldcaddy77 commented on #208
@nwmartin It's hard to fix this without a breaking change, but I put in a fix here: https://github.com/goldcaddy77/warthog/pull/232/files#diff-26d96fc192e5df2bfc3a94e5a79c43d0R24-R40 .  It requires adding an explicit filter type when you have a field that ends in `Id`.  This will be fixed in the move to v2.0.

[2019-11-09 19:23] goldcaddy77 opened #234 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-11-09 19:24] goldcaddy77 commented on #234
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-11-09 19:31] goldcaddy77 commented on #234
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-11-09 20:23] goldcaddy77 commented on #234
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-11-09 20:37] goldcaddy77 commented on #234
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-11-09 20:42] goldcaddy77 commented on #234
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-11-09 20:44] goldcaddy77 commented on #234
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-11-09 20:45] goldcaddy77 commented on #234
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-11-09 20:51] goldcaddy77 commented on #234
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-11-09 20:53] goldcaddy77 commented on #234
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-11-09 20:59] goldcaddy77 commented on #234
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-11-09 21:00] goldcaddy77 commented on #234
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-11-09 21:02] goldcaddy77 commented on #234
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2019-11-09 21:06] #234 closed

[2019-11-15 18:30] nwmartin opened #239 "Decimal backed FloatFields"
Right now the FloatField warthog decorator for postgres will actually default to `float8`. See:https://github.com/goldcaddy77/warthog/blob/master/src/decorators/FloatField.tshttps://github.com/goldcaddy77/warthog/blob/master/src/torm/data-types.ts

There's basically two approaches here: we can make a new decimal field decorator or we can update FloatField to allow manually overriding the backing t

[2019-11-16 19:54] goldcaddy77 opened #241 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-11-16 20:10] #241 closed

[2019-11-17 07:59] goldcaddy77 commented on #239
Did a ton of work on data types today.  https://github.com/goldcaddy77/warthog/pull/250/files

New decorator: https://github.com/goldcaddy77/warthog/pull/250/files#diff-66d28b7a7fff0ea0faa35f74adf996c8R1

Usage: https://github.com/goldcaddy77/warthog/pull/250/files#diff-984f57b34defd9f4be76f9d2e7979a8cR128-R129

I still need to add the ability to pass precision in, but it's close.

[2019-11-18 06:34] goldcaddy77 commented on #193
@BenBrostoff should be easier now that I’ve refactored the codegen pipeline. Will touched a lot of different spots, through. Lemme know if you gets need this.

[2019-11-18 16:33] goldcaddy77 opened #251 "Example: DB Table without API exposure"
See: https://github.com/typeorm/typeorm/blob/master/sample/sample1-simple-entity/entity/Post.ts

[2019-11-21 04:27] goldcaddy77 commented on #239
All set:  https://github.com/goldcaddy77/warthog/pull/250/files#diff-984f57b34defd9f4be76f9d2e7979a8cR89-R93.  Looks like this:

[code]

[2019-11-21 05:19] goldcaddy77 commented on #239
Published in version 2.0.0-beta.8

[2019-11-21 05:22] #218 closed

[2019-11-21 05:22] goldcaddy77 commented on #208
Fixed in version 2.0.0-beta.8.  Closing

[2019-11-21 05:22] #208 closed

[2019-11-21 05:22] #239 closed

[2019-11-21 06:43] goldcaddy77 opened #257 "Fix SQL injection in example 7"
See https://github.com/goldcaddy77/warthog/blob/master/examples/07-feature-flags/src/feature-flag/feature-flag.service.ts#L28-L48

[2019-11-22 16:03] goldcaddy77 opened #260 "Numeric GraphQL scalar that guarantees precision is not lost"

[2019-11-25 07:46] goldcaddy77 commented on #260
Closing. Fixed in https://github.com/goldcaddy77/warthog/pull/255

[2019-11-25 07:46] #260 closed

[2019-12-04 18:52] nwmartin opened #271 "Handling Input Creation for FieldResolvers!"
Heyo,

Right now non-database backed fields won't get where inputs generated for them for something like a FieldResolver:

[code]

Right now we're just extending the input sets to include them as possibilities for where queries, but it would be nice if they were potentially auto-generated or if slapped a Field decorator on them or something.

Let me know if you need more details.

[2019-12-05 07:09] goldcaddy77 commented on #271
Interesting... can you give me a more concrete example?  Field Resolvers typically reach into an association.  For instance, the `User` model would have a `FieldResolver` for `posts`, that would load up all the posts.  I'm not sure what the where inputs would do there.  If you wanted to expose a field just to the GraphQL layer, we can make the decorators smarter, perhaps by adding the possibility

[2019-12-05 10:01] JeniTurtle opened #273 "How to support multiple databases"
How to support multiple databases

[2019-12-05 14:06] goldcaddy77 commented on #273
Hi @JeniTurtle , I’m not currently supporting multiple databases so that I can check all of the boxes for Postgres first. What database do you want to use?

[2019-12-05 14:11] JeniTurtle commented on #273
I like postgres！

[2019-12-05 14:38] goldcaddy77 commented on #273
Cool, then you’re all set!

[2019-12-08 16:39] goldcaddy77 opened #275 "`editable` functionality doesn't work for required fields"
It's not possible for something to be `editable` and also required, you get a GraphQL input error:

[code]

Error message:

[code]

[2019-12-08 16:41] goldcaddy77 commented on #275
Actually, it does work :)

[2019-12-08 16:41] #275 closed

[2019-12-08 17:06] goldcaddy77 opened #276 "Port items from master to Beta"
For instance, `new` command in CLI.

[2019-12-08 17:29] goldcaddy77 commented on #276
Also, clean up the files that are generated by the `new` command (for instance, the config file isn't needed

[2019-12-12 03:11] goldcaddy77 commented on #273
Closing as dupe of https://github.com/goldcaddy77/warthog/issues/96

[2019-12-12 03:11] #273 closed

[2019-12-12 17:35] nwmartin commented on #271
You're right in that we might be reaching into an association, but imagine a case where what is actually resolved is a single entity (the latest one, perhaps). You end up with a case where the resolved item, from the point of view of the user, is literally just a simple field. We don't automatically get any inputs around this without a lot of manual effort.

Our current workaround was to add in th

[2019-12-16 21:34] goldcaddy77 opened #281 "Opinionated Error Handling"
See: https://github.com/boltsource/apollo-errors

See also:
- https://github.com/theGlenn/apollo-prophecy
- https://github.com/kadirahq/graphql-errors
- https://github.com/GiladShoham/graphql-apollo-errors

[2019-12-19 05:44] goldcaddy77 commented on #193
@BenBrostoff do you guys still need this?

[2019-12-19 10:35] IniZio commented on #193
Actually no for me now since array is not performant for querying 🤔

[2019-12-19 15:01] BenBrostoff commented on #193
@goldcaddy77 I think we should be fine for now 👍

[2019-12-26 03:35] thiagozf commented on #147
This would also allow Warthog to be used with something like `apollo-server-lambda` :)

[2020-01-01 00:14] domvernon opened #286 "Embedded Entities"
👋  Does Warthog support [embedded entities](https://typeorm.io/#/embedded-entities)? My usecase would be similar to the one given, to reduce boilerplate for several models that would have the same fields.

[2020-01-01 00:31] goldcaddy77 commented on #286
Hi, I don't support this yet. How would you imagine sorting and filtering would work on these columns? What might the Warthog API look like for this?

Note that you could always create a class and subclass from it, inheriting it's columns.

[2020-01-01 12:41] domvernon commented on #286
Not sure about the API, but since the underlying tables would have whatever columns the other entity defined I believe it would be similar. Inheritance would definitely be another way to achieve this - the other way lends itself more to composition patterns.

Thanks for the reply though, I'm enjoying using the framework so far!

[2020-01-20 22:20] goldcaddy77 opened #290 "Kill warthog.sqlite.tmp - no longer used"

[2020-01-21 09:25] John0x commented on #103
I agree that soft deletes should be optional. There are a lot of cases where a hard delete is necessary, especially with the whole privacy stuff

[2020-01-22 02:07] goldcaddy77 commented on #103
@John0x - makes sense. It would take a bit to implement this feature in an elegant way.  There is no reason why you couldn’t hard delete as it stands. I could add a `hardDelete` method to BaseService to help in the meantime.

[2020-02-14 04:18] goldcaddy77 commented on #257
Closing, done.

[2020-02-14 04:18] #257 closed

[2020-02-17 16:38] #193 closed

[2020-03-04 00:30] bsdis opened #293 "python/postgres integration"
Hi, I have my backend running in python using django and postgress.
In Django, the datamodels and migrations and such are defined in python and then automatically the database schema is updated using the migrations.
I need to keep it that way - but I also need a consistent way to convert it all to GQL schemas etc.
So I want to ask if its possible to have warthog create alle the typescript schemas

[2020-03-04 01:21] goldcaddy77 commented on #293
Hi @bsdis, taking Postgres and converting to GraphQL is not in the scope of Warthog. Warthog takes a schema in TypeScript and generates the everything. The [Postgraphile](https://www.graphile.org/postgraphile/) project might be able to give you what you’re looking for, though.

[2020-03-04 01:21] #293 closed

[2020-03-08 01:27] goldcaddy77 opened #294 "Pattern for exposing external REST API"

[2020-03-19 03:46] goldcaddy77 commented on #8
Done: https://github.com/goldcaddy77/warthog/pull/295

[2020-03-19 03:46] #8 closed

[2020-03-21 13:38] goldcaddy77 commented on #290
Done.  https://github.com/goldcaddy77/warthog/pull/295/files

[2020-03-21 13:38] #290 closed

[2020-03-21 13:38] goldcaddy77 commented on #276
Done and released version 2.0

[2020-03-21 13:38] #276 closed

[2020-03-21 13:39] goldcaddy77 commented on #223
Note that soft deletes landed in TypeORM recently.  Just need to upgrade: https://github.com/typeorm/typeorm/pull/5034

[2020-03-21 13:49] goldcaddy77 commented on #175
Done: https://github.com/goldcaddy77/warthog/pull/297

[2020-03-21 13:49] #175 closed

[2020-03-21 13:53] goldcaddy77 opened #298 "Filtering and sorting should be off by default"
This is great for demoing, but we should lock things down by default and only allow `id` and `id_in`

[2020-03-21 14:07] goldcaddy77 opened #299 "CLI is slow"
CLI is slow because it always tries to load `ts-node`.

[2020-03-21 15:19] goldcaddy77 opened #301 "Remove codecov-patch"

[2020-03-21 15:58] goldcaddy77 commented on #299
Closed. Fixed in #300

[2020-03-21 15:58] #299 closed

[2020-03-21 15:58] goldcaddy77 commented on #301
Closed.  Fixed in #299

[2020-03-21 15:58] #301 closed

[2020-03-22 04:55] FOSSforlife opened #304 "Postgres 12 Support"
The README states that Postgres 12 is not supported. Why is there an issue with this? And what can we do to solve it? I would like to see this supported sometime soon.

[2020-03-22 05:06] goldcaddy77 commented on #304
I don't remember the exact issue but there was a breaking change in PG12 that caused certain parts of Warthog to break.  Happy to pair with you on this if you can help dig into what exactly is broken.  Have you tried to do the quickstart with PG12?

[2020-03-22 05:48] FOSSforlife commented on #304
I have not, but I'd be willing to look into it. I may have some free time tomorrow, so I can try it out and let you know how it goes. This looks like an amazing framework, and I'm considering it for a major project of mine, so I'll test this issue as part of the evaluation process.

[2020-03-22 15:39] goldcaddy77 commented on #304
Awesome, sounds good.  I'm coding today, so feel free to hit me up in the project gitter if you run into any issues: https://gitter.im/warthog-graphql/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

Also, happy to hear you're considering using Warthog for a major project.  Would love to hear your experiences as you develop so I can fill in any gaps in functiona

[2020-03-22 20:51] goldcaddy77 opened #305 "Pattern for pulling user from JWT"
If consumers follow JWT standards, Warthog should make things really easy.  For instance:

- If using JWTs
- ...and JWT comes in through `authorization` header
- ...and the header is of form `Bearer <token>`
- ...and we assume the JWT has an `id` field in it that is the user's ID

Then we should be able to:

- Pull the `token` out and put it in `context`
- Pull the user ID out and put it in `conte

[2020-03-22 21:43] goldcaddy77 opened #306 "CLI issues for commands that read `ts` files"
Getting the following errror:

[code]

[2020-03-22 23:19] arscan commented on #305
You could go one step further and support OpenID Connect tokens.

[2020-03-24 01:05] goldcaddy77 opened #307 "CLI `new` command needs to create env.yml and other missing files"

[2020-03-24 02:09] goldcaddy77 commented on #305
Good suggestion.  Have you set this up in Node before?

[2020-03-25 00:44] FOSSforlife opened #311 "updateMany, deleteMany"
I would love to see mutations that can update and delete multiple users based on a "where" clause. It would be based on the Postgres functionality that already exists, which Hasura has a nice implementation of.

[2020-03-25 04:28] goldcaddy77 commented on #311
Good idea. This should be pretty straightforward given I already have a pattern for `createMany`:

https://github.com/goldcaddy77/warthog/blob/master/src/core/BaseService.ts#L151

If you want to take a crack at this, feel free. You should really just need to search for `createMany` and put separate paths for update and delete.  Otherwise I’ll get to it when I get through the next few items on my l

[2020-03-25 04:41] goldcaddy77 commented on #311
A few follow-ups... some assumptions:

- For `updateMany`: this would run all validations and hooks (@BeforeUpdate, @AfterUpdate) for each item. Otherwise you could end up with invalid records.
- For `deleteMany`: I assume you’d want to run the @BeforeRemove and @AfterRemove hooks, right? Otherwise any side effects that run would not be generated for these deleted items.

Note that running the hoo

[2020-03-25 06:29] FOSSforlife commented on #311
Good point. Although I assume this is something TypeORM already takes care of, since it already supports the functionality of updating and deleting multiple records through EntityManager. But we should test it out and make sure it works as expected (and is performant-- not making too many SQL queries for one update)

I'll take a look at it sometime later this week.

[2020-03-26 00:58] goldcaddy77 commented on #311
@FOSSforlife - per TypeORM's docs:

So this essentially does an UPDATE query blindly.  I could easily get this in place, but I imagine folks would want this to run the hooks.  What is your use case?

[2020-03-26 01:12] FOSSforlife commented on #311
My use case is enabling users to update their album collections using bulk queries. Thinking about it now, I'm not sure if I'll be writing update or destroy hooks for this, but if I was I would definitely want them to run on updateMany and deleteMany.

I wonder what's the most performant way to do this. I'm imagining that we'd have to batch together any queries that are run in the hooks, so that i

[2020-03-26 02:47] goldcaddy77 opened #315 "Need `readonly` and `writeonly` fields"
For instance, a password is a `writeonly` field.  We should never be able to read it.

[2020-03-26 03:39] goldcaddy77 commented on #311
I'm wondering if this is the same discussion that the TypeORM folks had when they were considering adding `updateMany` and `createMany` :). There are ways we can do this, but it would just be a bit slower. In theory, you could do all of the before hooks including validations, then run the SQL update, then run all of the after hooks.  I'd just need to see if there is a way to do so that isn't compl

[2020-03-26 20:08] bedeho opened #317 "Can one do transactions with this?"
Warthog appears very suitable for a project I am focusing, however I need support for transactional mutation of the database when adding data to it programmatically (not through the GraphQL API). Is this possible, if so how?

[2020-03-26 22:31] goldcaddy77 commented on #317
See https://github.com/goldcaddy77/warthog/issues/94 .  This should be possible - need to determine how many tough points there would be porting to `TransactionRepository`

[2020-03-26 22:31] goldcaddy77 commented on #317
What kind of project are you kicking off?

[2020-03-27 00:26] goldcaddy77 commented on #315
Adding in https://github.com/goldcaddy77/warthog/pull/316

[2020-03-27 00:35] goldcaddy77 commented on #317
Here are docs to how `typeorm` (and therefore Warthog) does Transactions: https://github.com/typeorm/typeorm/blob/master/docs/transactions.md#transaction-decorators

I'll work on getting an example in place.

[2020-03-27 10:13] bedeho commented on #317
Thank you for the very fast response, really appreciate it.

We are building a query server for a blockchain project (https://github.com/Joystream/), and we are looking for a database/GraphQL API infrastructure that limits the amount of boilerplate we have to maintain. I have been trying out Prisma (1) the last week. Its OpenCrud API and generated CRUD ORM were excellent, but in the end, it is mis

[2020-03-28 01:11] goldcaddy77 commented on #317
Very cool - yeah this sounds like a perfect use case for you. I do have a Gitter - you can find me here: https://gitter.im/warthog-graphql/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2020-03-28 21:43] goldcaddy77 commented on #97
Hi did you ever get to take a peek at this?

[2020-03-29 00:47] goldcaddy77 commented on #317
All set, see https://github.com/goldcaddy77/warthog/pull/319/files#diff-0ef73fed426f71bd2379b3f18e90243aR1 for first-class support in Warthog.  Note that you can always drop down to using TypeORM directly and use the tools here: https://github.com/typeorm/typeorm/blob/master/docs/transactions.md .  Note that you would need to do your own validations, though (something that BaseClass handles).

[2020-03-29 01:31] goldcaddy77 opened #320 "Should have an option to make filters and sorting opt-in"
In V3, this will be off by default.  We should support opt-in via a flag in V2.

[2020-03-29 01:47] goldcaddy77 opened #321 "Logger should be injected via DI"

[2020-03-30 07:55] bedeho commented on #317
Fantastic, I really appreciate it. Looking forward to trying this out, will let you know how it turns out.

[2020-03-31 02:33] goldcaddy77 commented on #317
Perfect, sounds good.

[2020-03-31 03:04] goldcaddy77 opened #322 "Documentation site"
Need a documentation site - the README is large and still falling behind the existing functionality.

Requirements:
- Must be generated from md or mdx
- Hosted in this repo

Look at docz:
- https://github.com/doczjs/docz
- https://github.com/rakannimer/create-docz-app#readme
- Example:   http://welcome-ui.com/

[2020-04-01 04:53] davidsielert opened #323 "warthog db:create not respecting db settings in .env"
[code]

I have added the settings in .env

[2020-04-01 13:25] goldcaddy77 commented on #323
Can you share your `.env`? (or a scrubbed version)

[2020-04-01 13:51] dsielert commented on #323
[code]

[2020-04-01 13:56] davidsielert commented on #323
[code]

[2020-04-01 21:49] ERespaldiza commented on #323
Try adding also PGUSER to .env file
`
PGUSER=postgres
`

[2020-04-01 22:57] goldcaddy77 commented on #323
Thanks @ERespaldiza - I think you’re right. It’s looking at localhost, but not authenticating.

[2020-04-01 22:57] goldcaddy77 commented on #323
I’ll update the README to mention PGUSER

[2020-04-01 23:23] davidsielert commented on #323
I'm not using localhost for postgres , its 192.168.1.35 .. Its not using the env setting for WARTHOG_DB_HOST

[2020-04-02 02:01] goldcaddy77 commented on #323
Ohhh misread that. In order to diagnose, I’d make sure you’re running the command from the project root, then add some log lines in the node_modules folder for warthog in this file https://github.com/goldcaddy77/warthog/blob/master/src/cli/commands/dbCreate.ts#L11 . I can’t see how the config module wouldn’t load that value.

[2020-04-02 02:05] goldcaddy77 commented on #306
This is fixed

[2020-04-02 02:05] #306 closed

[2020-04-03 00:28] smoll commented on #323
I came across this issue when trying this project for the first time, and when I log it, it is seeing the values (I'm running the whole thing in docker compose):

[code]

I did some further digging and wonder if this may actually be the culprit: https://github.com/goldcaddy77/warthog/blob/177181d09e79c4b305dc4aa78d4c0b1911b77242/src/cli/extensions/db-extension.ts#L34

when I logged the return valu

[2020-04-03 03:28] goldcaddy77 commented on #323
@smoll are you windows or Unix?

I can fix this over the weekend unless somebody wants to toss in a quick PR.

[2020-04-03 03:29] goldcaddy77 commented on #323
I’m surprised this wasn’t caught by eslint: https://github.com/goldcaddy77/warthog/blob/master/.eslintrc.js#L39

[2020-04-03 08:16] smoll commented on #323
@goldcaddy77 I am running this in a linux container and my host OS is ubuntu (not sure if that matters). In any event, I created a PR for the code change, which fixed the issue for me: https://github.com/goldcaddy77/warthog/pull/324

[2020-04-03 13:29] dsielert commented on #323
while above I ran it in windows I get the same result on my mac

[2020-04-03 14:04] #323 closed

[2020-04-03 14:43] goldcaddy77 commented on #323
:tada: This issue has been resolved in version 2.1.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/warthog)
- [GitHub release](https://github.com/goldcaddy77/warthog/releases/tag/v2.1.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-05 04:37] goldcaddy77 opened #325 "Upgrade version of ts-node"
There is a fix for the performance issues: https://github.com/TypeStrong/ts-node/issues/754#issuecomment-456934726

[2020-04-05 13:55] goldcaddy77 opened #326 "Fix issue with `contains` operator"
It does not handle case sensitivity correctly right now.

[2020-04-05 17:58] goldcaddy77 commented on #326
Fixed in https://github.com/goldcaddy77/warthog/pull/327

[2020-04-05 17:58] #326 closed

[2020-04-05 17:59] goldcaddy77 commented on #317
Fix merged and documentation added to README.

[2020-04-05 17:59] #317 closed

[2020-04-05 17:59] goldcaddy77 commented on #315
Fixed in https://github.com/goldcaddy77/warthog/pull/316

[2020-04-05 17:59] #315 closed

[2020-04-05 18:01] goldcaddy77 commented on #322
Add to docs:

- Everything from README
- Full listing of decorators
- Full listing of options available in decorator
- Examples of decorator usage (ex. `password` being `writeonly`)

[2020-04-05 20:30] goldcaddy77 commented on #320
This is an option to get closer in V2: https://github.com/goldcaddy77/warthog/pull/328

[2020-04-05 21:52] goldcaddy77 commented on #251
Fixed here: https://github.com/goldcaddy77/warthog/pull/330

[2020-04-05 21:52] #251 closed

[2020-04-06 01:02] goldcaddy77 opened #331 "Create Decorators for common endpoint types"
For standard endpoint types, we should create decorators and then only auto-generate the special schema components if the client has registered that endpoint type:

- connectionQuery
- find Query
- findOne Query
- create Mutation
- update Mutation
- delete Mutation

[2020-04-06 01:46] goldcaddy77 commented on #205
This is done here: https://github.com/goldcaddy77/warthog/pull/288

[2020-04-06 01:46] #205 closed

[2020-04-06 17:18] diegonc opened #332 "apiOnly field option does not work"
Setting the apiOnly option to a field of a model throws the following error:

[code]
It seems that the type StringFieldOption doesn't have the property apiOnly that is documented in the readme file.

Is there anything I can do to workaround this error or fix it?

-----

Environment
[code]

[2020-04-06 18:13] diegonc commented on #332
OK I think I fixed it, at least partially. I found in the old readme that for my version of warthog the type-graphql decorators should be used.

So after
[code]
my model class
[code]
generates the following SDL
[code]
However, as you can see in the `PersonCreateInut` the API only fields are missing. I'd rather get them defined in the input type and let the resolver decide which ones to use for the

[2020-04-07 00:02] goldcaddy77 commented on #332
@diegonc what version are you on? That option was added recently. Please try bumping to latest and see if you still get the error.

[2020-04-07 01:00] diegonc commented on #332
Is there anything I should do to get the newer version? `yarn add warthog` installed that old version

[2020-04-07 04:02] goldcaddy77 commented on #332
`yarn add warthog@latest`

[2020-04-07 16:00] diegonc commented on #332
Thanks! It's working now. I also had to change the version in `package.json` after `yarn warthog new`

[2020-04-07 16:00] #332 closed

[2020-04-08 00:30] GrayStrider opened #334 "Any particular reason for node 12.x only?"
One of my packages is 13.2 + and now I'll have to mess around with nvm or whatnot. Just curious.

[2020-04-08 01:08] GrayStrider opened #335 "Having troubles starting warthog-starter on Windows"
[code]

Or when starting `start:dev:watch`
![image](https://user-images.githubusercontent.com/43771776/78733650-c628c180-7991-11ea-801f-b8698f80eb95.png)

Any ideas what might cause this?

[2020-04-08 01:32] goldcaddy77 commented on #332
Awesome, glad it's working.  I'll put in a PR to update the `new` command.

[2020-04-08 01:42] goldcaddy77 commented on #335
What happens if you run `yarn dotenv:generate`?

[2020-04-08 01:56] goldcaddy77 commented on #335
If you're running `dotenvi -s ${WARTHOG_ENV:-development}` my guess is that it's not interpolating `${WARTHOG_ENV:-development}` into `development` so it's getting stuck.  Do you know if `yarn` on windows supports that syntax?  I would assume so...

[2020-04-08 03:11] goldcaddy77 commented on #335
Also, for `warthog-starter` issues, you should keep all of those in that repo.  Can we move this discussion over there?

[2020-04-08 03:24] goldcaddy77 commented on #334
This is just an issue with `warthog-starter`.  Warthog will work with Node 8+.  I just put in a PR to `warthog-starter` to fix this:  https://github.com/goldcaddy77/warthog-starter/pull/43

[2020-04-08 03:24] #334 closed

[2020-04-08 03:24] goldcaddy77 commented on #334
Thanks for calling this out 👍

[2020-04-08 03:53] GrayStrider commented on #335
I'll try all of the above and ask further questions in `warthog-starter`, thanks.

[2020-04-08 03:53] #335 closed

[2020-04-08 04:20] goldcaddy77 commented on #332
`new` has been updated: https://github.com/goldcaddy77/warthog/pull/336

[2020-04-15 02:14] goldcaddy77 opened #338 "Allow option to conform to Relay spec"
* https://relay.dev/graphql/connections.htm
* https://graphql.org/learn/pagination/

[2020-04-15 03:28] goldcaddy77 opened #339 "Getting ready for V3"
I've created a milestone for V3 here:  https://github.com/goldcaddy77/warthog/milestone/1

I'd love to talk to folks that have used Warthog in Production to see what worked well for them and what they had to hack around.  If you're interested in chatting, shoot me an email at [my github username] at gmail and we can set something up.

Also, feel free to brainstorm ideas for V3 below.

[2020-04-15 05:07] FOSSforlife commented on #339
I think it would be good to add Postgres 12 support (#304) to the V3 milestone, seeing as most people will want to use up-to-date database software. So far, I haven't had issues using Postgres 12, however I've only been doing basic tasks so far (mostly from your examples). Maybe we could define a series of tests to run to ensure it works?

[2020-04-15 12:15] goldcaddy77 commented on #339
@FOSSforlife early versions of PG12 failed because TypeORM was not compatible. If it’s compatible now, I can bump the version and everything should work. I should be able to do this in V2 since it wouldn’t be a breaking change.

[2020-04-16 03:20] goldcaddy77 commented on #338
@FOSSforlife  Making good progress here: https://github.com/goldcaddy77/warthog/pull/340

[2020-04-16 15:26] metmirr opened #341 "Missing module imports for ManyToOne, OneToMany field types"
Generating model with `warthog generate` command does not add import statement for related fields. Adding additional logic to `model.ts.ejs` I was able to run it successfully. Here is my commit: https://github.com/metmirr/warthog/commit/e9b7eeb98729de510ec81a562bc252e61fdbe11f

[2020-04-17 03:03] goldcaddy77 opened #342 "Missing OneToOne"
Somehow I missed OneToOne. Need to add support for this.

[2020-04-17 20:42] diegonc opened #343 "Composite unique index on relationship entity"
I have a relationship entity and want to generate a composite index for it.

The relation is WorkEffort <--- WorkEffortParty ---> Party. The code for the relation entity is below:

[code]

I set both party and workEffort fields as unique but instead of a composite index I got two unique indices for each property alone.

Is there any way to indicate a composite index is wanted?

Thanks

[2020-04-18 14:52] goldcaddy77 opened #345 "Add commitlint"
There have been several PRs merged that didn't have the proper commit format (which resulted in the package not getting deployed).  Adding commitlint will help this:

https://github.com/conventional-changelog/commitlint#getting-started

[2020-04-18 15:04] goldcaddy77 commented on #343
@diegonc You'll want to use TypeORM composite indices like so: https://github.com/typeorm/typeorm/blob/master/docs/indices.md#indices-with-multiple-columns

[2020-04-19 10:31] metmirr opened #348 "Provide the description property for GraphQL schema purposes"
Type-graphql `Field` decorator accepts `description` option [Types and Fields](https://typegraphql.com/docs/types-and-fields.html). If we could add this option to warthog decorators that would be really useful.

[code]

[2020-04-19 12:12] goldcaddy77 commented on #345
Fixed.

[2020-04-19 12:12] #345 closed

[2020-04-19 16:23] goldcaddy77 commented on #348
Work completed here: https://github.com/goldcaddy77/warthog/pull/349

The plan is to also have this represented as a `comment` in the Postgres schema, but it appears TypeORM's support for this isn't working>. I've filed an issue here: https://github.com/typeorm/typeorm/issues/5906 .  Will merge the schema part now and follow up on DB.

[2020-04-19 18:48] metmirr commented on #348
Thank you! It is not possible to pass a description from the command line right? e.g `generate recipe title:string!:The-title-of-the-recipe`.

[2020-04-19 19:37] goldcaddy77 commented on #348
That’s correct. The syntax for the CLI generate command is already complex enough, so I’m not planning on adding advanced options. For advanced options, just generate your model and then make the necessary updates to the decorators in the model file.

[2020-04-20 00:49] goldcaddy77 opened #350 "Set `WARTHOG_APP_HOST` to localhost by default"

[2020-04-20 01:08] #350 closed

[2020-04-20 01:11] goldcaddy77 commented on #348
Added in #349

[2020-04-20 01:11] #348 closed

[2020-04-22 17:29] diegonc commented on #343
Thanks! It worked using `@Index`

[2020-04-22 17:32] diegonc opened #352 "asynchronous context"
Is it possible to use an async function or return a promise from the context function? For instance, to fetch data from the database when the JWT token doesn't provide all of the user information

[2020-04-22 21:08] #343 closed

[2020-04-22 21:09] goldcaddy77 commented on #352
Yes, this does support promises already: https://github.com/goldcaddy77/warthog/blob/master/src/core/server.ts#L229

[2020-04-22 21:12] goldcaddy77 commented on #341
Good call out.  Your version will work with your particular `cliGeneratePath`, but would break for others.  To make this work with any `CLI_GENERATE_PATH`, we'll need to do something similar to what's done here: https://github.com/metmirr/warthog/blob/master/src/cli/commands/generate.ts#L41

Perhaps pass a `getFolderForModel` function into `props` and then call it with the other model name.   Some

[2020-04-22 21:22] metmirr commented on #341
Definitely! I need this to work properly but I can do it on weekend.

[2020-04-23 23:04] diegonc commented on #352
The readme says object and I wasn't sure about promises. Thanks!
Should this be closed?

[2020-04-24 01:23] goldcaddy77 commented on #352
Let’s leave it open until I update the docs. Or feel free to toss in a quick docs PR.

[2020-04-24 16:19] diegonc opened #353 "Inject service for other model"
I'm following the transaction example and I need to do something a bit more complex.
My models are:

[code]
So, when I create a `WorkEffort` I want to associate it with two parties so I need the service for `WorkEffortParty` to be called from the `WorkEffort` service.

I already injected the repositories for Party so I can find the ones which will be linked.
But I can't figure out how to inject th

[2020-04-24 19:04] diegonc commented on #353
Ok, I managed to do it using the TransactionManager injected to my service, like below:

[code]

But I wonder if it's better to get an instance of the `BaseService` somehow

[2020-04-24 20:55] goldcaddy77 commented on #353
Have a look at the Feature Flag example.  `FeatureFlagUser` is similar to what you're trying to do: https://github.com/goldcaddy77/warthog/tree/master/examples/07-feature-flags/src/feature-flag-user

[2020-04-24 21:12] diegonc opened #354 "apollo-client and __typename"
`apollo-client` wants to bring a `__typename` field which is not in the source code of the query. `warthog` complains that the column is not present, which is true for the database nor the model have such property.

I tried adding an apiOnly constant field

[code]
but then the schema generation failed with the following message:
[code]
adding it as a `@FieldResolver` also triggers the error above

[2020-04-24 21:28] diegonc commented on #353
It looks more straightforward than what a I came up with the manager instance. I'll give a try, thanks!

[2020-04-24 21:28] #353 closed

[2020-04-25 01:21] goldcaddy77 commented on #354
@diegonc `__typename` should automatically be added. You don’t have to specify it explicitly in your schema.

[2020-04-25 17:12] diegonc commented on #354
I'm getting the following error as a result of querying the graphql server

[code]

[2020-04-25 20:20] goldcaddy77 commented on #354
Can you show me the GQL you're sending from the client?  From what I've read, `__typename` is something that Apollo Client automatically injects: https://github.com/apollographql/apollo-client/issues/1913 .   You shouldn't have to ask for it in your GQL.

[2020-04-25 20:46] diegonc commented on #354
I'm using a `vue-apollo` smart query defined as
[code]

But Developer Tools shows the following query is finally sent to the network

[code]

__typename is added by apollo-client, otherwise the query is the same

[2020-04-26 02:12] goldcaddy77 commented on #354
Oh I think I know what's going on.  Will take a look now.

[2020-04-26 02:48] goldcaddy77 commented on #354
Are you using the `Fields` decorator?  If so, I have a fix here: https://github.com/goldcaddy77/warthog/pull/355

[2020-04-26 03:07] goldcaddy77 commented on #354
I've merged this, please bump to the latest version and let me know if it's working.

[2020-04-26 16:08] goldcaddy77 commented on #304
@FOSSforlife Have you tried PG12 with the latest version of TypeORM?

[2020-04-26 16:12] FOSSforlife commented on #304
I’ve actually been using PG12 with Warthog for the past few weeks and haven’t run into any issues so far. I’ve only done basic CRUD and joins so far, so I haven’t gotten far enough to make a conclusive statement, but it’s looking good at the moment.

[2020-04-26 17:53] goldcaddy77 commented on #304
Oh great. I can upgrade my libs and run the tests.

[2020-04-26 19:15] diegonc commented on #354
The dependency was bumped to warthog@latest (2.9.1) and now the query works fine. Thanks!

[2020-04-26 19:17] #354 closed

[2020-04-26 22:27] FOSSforlife opened #356 "Vulnerability in "class-transformer" package"
This showed up in my GitHub repo, and it looks like it's coming from Warthog's dependencies:

![Screenshot from 2020-04-26 15-24-55](https://user-images.githubusercontent.com/22383534/80321494-4d6b9700-87d2-11ea-85a8-8221b7726acb.png)

I did a quick search through warthog's code and it doesn't seem like the package is being used anywhere.

[2020-04-26 23:43] goldcaddy77 commented on #356
This is pretty common in the npm ecosystem. I’ll stay on top of this as much as I can but note that you can explicitly require this version in your code (ie `yarn add class-transformer@latest`).

[2020-04-26 23:43] #356 closed

[2020-05-13 12:07] metmirr opened #358 "Cannot set property EntityManager"
warthog version `2.9.2`

`yarn warthog new` throws: `TypeError: Cannot set property EntityManager of #<Object> which has only a getter`

[2020-05-13 12:17] metmirr commented on #358
It is typeorm issue https://github.com/typeorm/typeorm/issues/6054

[2020-05-13 12:17] #358 closed

[2020-05-14 12:55] metmirr opened #359 "Make pluralization optional for table names"
I can see that by default pluralization is on for table names https://github.com/goldcaddy77/warthog/pull/16. Can we make it optional?

We use warthog as our GraphQL API framework and there is another project that we generate `typeorm` models from the warthog database. So the problem here is entity names they end with `s` and which is really confusing for us.

[2020-05-14 13:04] goldcaddy77 commented on #359
Yes, you should be able to override the default TypeORM naming strategy by passing it into `dbOptions`: https://github.com/goldcaddy77/warthog/blob/2cbc1a11b1668347fab6255e29a50049eede81ea/src/core/server.ts#L66

You’ll just need to extend this and update `tableName`: https://github.com/goldcaddy77/warthog/blob/master/src/torm/SnakeNamingStrategy.ts

[2020-05-14 15:50] metmirr commented on #359
Thanks! It works well but when I generate models with `warthog generate` command it add `s` and when I run migrations command table is created with `s`. And then I run development server with sync option true, I end up having two tables.

[2020-05-15 18:20] diegonc commented on #352
Sorry to bring this topic back. But is it possible to inject services to be used inside the context function?

[2020-05-15 20:56] goldcaddy77 commented on #352
This is not possible - what are you trying to do?

[2020-05-15 20:58] #352 closed

[2020-05-16 22:44] diegonc commented on #352
Yes! The token only carries an ID so I need to lookup the rest of the user

[2020-05-18 21:28] FOSSforlife opened #361 "Setting cookies inside GraphQL resolvers"
I've been attempting to use [this](https://github.com/benawad/jwt-auth-example/tree/master/server) tutorial (written using TypeORM and TypeGraphQL) as a guide for setting up authentication. He uses a "refresh token" method which he explains in [this](https://www.youtube.com/watch?v=iD49_NIQ-R4) video, which is supposed to be more secure than relying just on JWT or cookies because it makes use of b

[2020-05-18 21:44] goldcaddy77 commented on #361
Gotcha! So it could be as simple as passing `res` in context as well?

https://github.com/goldcaddy77/warthog/blob/master/src/core/server.ts#L228

[2020-05-18 21:45] goldcaddy77 commented on #361
If that’s the case, feel free to open up a PR or I can get to it this week

[2020-05-18 21:47] FOSSforlife commented on #361
Yep! I'll go ahead and attempt implementing it myself :) Hopefully it's as straight forward as it seems.

[2020-05-18 22:52] goldcaddy77 commented on #361
Awesome. If you tackle this, let’s keep `request` there for backwards compatibility and additionally add `req` and `res`.

[2020-05-19 00:52] FOSSforlife commented on #361
Right, I forgot that `request` was named as such here instead of `req`. In that case, I'll just do `request` and `response` if that works with you.

[2020-05-19 01:06] goldcaddy77 commented on #361
I’d prefer `req` and `res` to indicate they’re the express req and res objects.

[2020-05-20 21:17] metmirr opened #362 "Adding constructor to BaseModel"
**Do you want to request a _feature_ or report a _bug_?**

Feature

It would be good if `BaseModel` has a constructor with an optional parameter. Something like this maybe:

[code]

[2020-05-20 22:46] goldcaddy77 commented on #362
What are you trying to do exactly?

[2020-05-20 22:51] goldcaddy77 commented on #362
A Warthog Model is a TypeORM entity, so you can use the entity manager API to create new records: https://github.com/typeorm/typeorm/blob/master/docs/entity-manager-api.md

[2020-05-21 07:00] metmirr commented on #362
I want to create a new instance of my model like this:
[code]

Not like this:
[code]

[2020-05-21 11:09] goldcaddy77 commented on #362
I’d recommend using BaseService to create your records, as it layers in validation for free:

https://github.com/goldcaddy77/warthog/blob/master/src/core/BaseService.ts#L182

If you don’t want to use BaseService, I’d recommend using the TypeORM repository or entity manager to create them (basically what I do in BaseService.

Is there something you can’t achieve with either of those?

[2020-05-21 12:11] metmirr commented on #362
Thank you for your quick response!

Okay, here is what I do:

- We have a warthog project. And for some reason, we want the users to run only `queries`(not `mutations`)
- Another project that updates the warthog database. Here we use warthog models(from warthog project) and typeorm entity manager. So here we want to allows other developers to run database queries but these queries are limited to `

[2020-05-21 12:27] mknapik opened #363 "Application runtime env vars required to compile"
I was working on distributing warthog app as a container image and stumbled upon a problem.
Usually, when working with containers I package compiled version of an app and treat image as an artifact. This way, once I test it on dev environment, I can promote (retag) image to qa, and then to production environment. Therefore app configuration cannot be known upfront when compiling a source code.

He

[2020-05-21 12:40] mknapik commented on #363
I focused on wrong vars. Setting `NODE_ENV` helped.

[code]

Sorry for noise and keep up the good work!

[2020-05-21 12:40] #363 closed

[2020-05-21 12:57] goldcaddy77 commented on #362
Do you want to secure the app so that the readonly users are truly not authorized to do creates, updates and deletes?

If so, I’d recommend you have them use the APIs directly and use authorization rules to lock them out.

If you’re not super concerned about that and you can share code, why not create a UserReadonly service that just exposes the `find` and `fineOne` methods?

Still not sure how yo

[2020-05-22 15:00] goldcaddy77 commented on #362
Happy to chat in person (Zoom) if this doesn’t make sense.

[2020-05-22 15:06] metmirr commented on #362
That would be so good actually! Are you on Keybase?

[2020-05-22 19:31] metmirr commented on #304
It has been a long time I am using PG12, I did not encounter any problems.

[2020-05-22 19:49] metmirr commented on #359
Leaving this here in case someone else needs:

[code]

[2020-05-22 19:49] #359 closed

[2020-05-23 01:55] goldcaddy77 commented on #362
Update: we Zoomed and @metmirr can actually use the Warthog services (that extend from BaseService) directly. The trick here is that he’s not running a `Server` in that project, so he just needs to instantiate the `Config’ service to pull in the necessary environment variables and spin up a TypeORM connection and will be all set.

[2020-05-23 01:58] goldcaddy77 commented on #359
Thanks for documenting the workaround

[2020-05-23 21:07] Quadrisheriff commented on #322
is it compulsory to use docz?

[2020-05-23 21:26] goldcaddy77 commented on #322
It’s not, but I’m pretty far along. What would you recommend?

[2020-05-23 22:24] Quadrisheriff commented on #322
Nothing actually, I want to take on the project but i have never worked with docz before. Guess i'll just start learning as quick as i can.

[2020-05-24 00:56] goldcaddy77 commented on #322
Oh you don’t need to know docz. It just generate HTML that I’ll host on https://warthog.dev . You can see the very rough version here: https://gifted-panini-c878aa.netlify.app/

[2020-05-26 02:31] goldcaddy77 commented on #363
Sweet, glad you figured it out.  Would love to see a PR into [warthog-starter](https://github.com/goldcaddy77/warthog-starter) if you have a solid Docker setup that you're using with Warthog.  Is your project open or closed source?

[2020-05-27 15:51] mknapik commented on #363
I had to give up on using warthog because of non-functional requirements.

I ended up with the following Dockerfile:

[code]

It's a multi stage build; `development` stage can be used in docker compose for local development. `production` stage copies compiled files from `development` stage and has significantly smaller size due to skipping development dependencies.

[2020-06-12 20:30] goldcaddy77 opened #366 "Migrate from `typedi` to `tsyringe`"
`typedi` hasn't been updated in 2 years and is falling behind.  Look at [tsyringe](https://github.com/microsoft/tsyringe)

[2020-06-12 20:31] goldcaddy77 commented on #366
Where is `typedi` used?

- Examples
- Tests
- ...then

https://github.com/goldcaddy77/warthog/blob/a2cf3eb554bff4b8b0cc27064ebaa30a83be12e7/src/middleware/DataLoaderMiddleware.ts
* Not needed

https://github.com/goldcaddy77/warthog/blob/0de5f91fa4e50fa36dcfb11f2b2d2e4ee1516d2f/src/schema/SchemaGenerator.ts
* Not needed, remove logger

https://github.com/goldcaddy77/warthog/blob/2cbc1a11b1668347fab

[2020-06-15 19:56] FOSSforlife commented on #361
Sorry for not making progress on this yet, I keep getting super wrapped up in work and other priorities. I should have time this weekend, but if anyone else wants to take care of it sooner I'm also fine with that. Otherwise I'll get to it on saturday.

[2020-06-16 11:37] goldcaddy77 commented on #361
No worries, I’ll review once I see a PR come through

[2020-06-16 22:02] diegonc opened #369 "How do I define an apiOnly model?"
Hi, I want to define a model that is exposed to the api side of warthog but which is not present in the database.

I tried using @ObjectType() annotation only in my model class but warthog doesn't generates the auxiliary types required by the resolver like `${className}WhereArgs`.

Any ideas?

[2020-06-16 23:30] goldcaddy77 commented on #369
See https://github.com/goldcaddy77/warthog/blob/main/README.md#api-only

[2020-06-16 23:36] diegonc commented on #369
Yeah I saw that. But it’s only for a field. I need the entire entity to be out of the main database

[2020-06-17 01:01] goldcaddy77 commented on #369
Interesting. What is the use case? This is not currently supported, but I could add this pretty easily by allowing you to specify `{ db: false }` in the `Model` options:

https://github.com/goldcaddy77/warthog/blob/main/src/decorators/Model.ts#L32

[2020-06-17 03:53] goldcaddy77 commented on #369
Done: https://github.com/goldcaddy77/warthog/pull/370.

[2020-06-17 03:53] #369 closed

[2020-06-17 12:36] goldcaddy77 commented on #369
Reopening so that I remember to add documentation

[2020-06-17 14:20] diegonc commented on #369
My use case is having some entities load from a secondary database like the filesystem

[2020-06-17 21:02] diegonc opened #371 "feat: make Single Table Inheritance usable"
TypeORM has a mode in which entities in a tree may share the same table as it's ancestor.
It goes something like in the following snippets:

[code]

Class party can already be implemented by just using the TableInheritance decorator from TypeORM along with Model from warthog.

Child classes however cannot be added as warthog's Model decorator uses Entity. So, I came up with a custom decorator sitt

[2020-06-17 21:08] diegonc commented on #371
Oh, I just read in typeorm docs it's an experimental feature yet. Maybe it's not as good idea as I thought.

[2020-06-22 00:42] goldcaddy77 commented on #371
Hey, thanks for the code sample. Do you want to put it in as a PR in the examples folder? Then it’s not “officially supported” but folks have the pattern handy.

[2020-06-24 12:16] goldcaddy77 opened #372 "enums not usable in multiple models or fields within the same model"
From @dzhelezov on Gitter:

The solution is to add an Enum decorator that registers the enum separate from the EnumField (or just make sure the EnumField decorator registers a unique copy per enum)

[2020-06-24 12:28] goldcaddy77 commented on #372
In order for this to not be a breaking change, we can’t require a new decorator, so we need to update the current flow.

The change needed is to ensure we’re only adding the import statement for each of these enums once here:

https://github.com/goldcaddy77/warthog/blob/a02a237b58269fd22b219c31b7a106a4d42af815/src/schema/TypeORMConverter.ts#L51

We just need to create a Set of the already imported

[2020-07-05 03:00] RileyMShea opened #373 "`yarn warthog new reverts` version from v2 -> v1"
Initializing a new project like so:

[code]
### Output:
[code]

So it correctly adds 2.x.x to package.json. But then using `yarn warthog new` overwrites package.json where it replaces warthog 2.x.x with warthog 1.49.4.  Additionally, many other packages seem to be very out out date, most notably typescript version after `yarn warthog new` is only 3.5.2 where the current stable version is 3.9.x

##

[2020-07-05 05:14] goldcaddy77 commented on #373
Thanks for the issue. You can bump the version manually for now - will fix the new command.

[2020-08-11 03:54] goldcaddy77 commented on #352
:tada: This issue has been resolved in version 2.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/warthog)
- [GitHub release](https://github.com/goldcaddy77/warthog/releases/tag/v2.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-18 12:42] #362 closed

[2020-08-22 18:53] goldcaddy77 opened #382 "Simplify examples"
Remove unnecessary packages and just expose a few commands.

[2020-08-24 00:12] goldcaddy77 opened #389 "Ability to sort by multiple columns"

[2020-08-24 01:18] goldcaddy77 opened #390 "Add Relay Connection example"

[2020-08-24 01:32] goldcaddy77 commented on #390
Example started here: https://github.com/goldcaddy77/warthog/pull/391

[2020-08-24 01:38] goldcaddy77 opened #392 "Add `Date` type"

[2020-08-24 02:03] FOSSforlife commented on #361
Hey @goldcaddy77, sorry for not keeping you posted. I had started to make progress on this, but didn't have anything working. I don't think I'll be able to accomplish this task, as I've got many other things going on and have currently de-prioritized my project which was using Warthog. Hope you understand and sorry to disappoint.

[2020-08-25 03:02] goldcaddy77 commented on #392
Done https://github.com/goldcaddy77/warthog/pull/393

[2020-08-25 03:02] #392 closed

[2020-08-25 03:17] #320 closed

[2020-08-25 03:19] goldcaddy77 opened #394 "Allow granular specification of filters by column"
Currently, you can specify whether or not a column is filterable:

[code]

But this will give you access to all of the filters for that data type (which is often too many).  Allow filter to specify the operators we want to support:

[code]

[2020-08-25 04:18] goldcaddy77 commented on #394
Handled in https://github.com/goldcaddy77/warthog/pull/395

[2020-08-25 04:21] #394 closed

[2020-08-26 01:02] goldcaddy77 opened #396 "Model decorator adding GraphQL schema when `{ api: false}` specified"

[2020-08-26 01:06] goldcaddy77 commented on #396
Fixed in https://github.com/goldcaddy77/warthog/pull/397

[2020-08-26 01:06] #396 closed

[2020-08-28 23:10] goldcaddy77 commented on #361
No worries - I'll take a crack at this when I get through the other items on my list.

[2020-08-29 02:19] goldcaddy77 opened #402 "Update Date scalar to resolve to a string"
...and maybe even DateTime.  Turning these into `Date`s is error prone as if your node server is not set to UTC, you could have off by 1 date issues.

[2020-08-31 04:55] goldcaddy77 commented on #372
Fixed in https://github.com/goldcaddy77/warthog/pull/403

[2020-08-31 04:55] #372 closed

[2020-09-01 01:55] goldcaddy77 opened #404 "Add V3 Schema Generator"
- Turns off filtering and sorting by default
- Turning on granular filtering per field
- Keep TypeScript generated classes even if they're not exposed to API

[2020-09-03 01:59] goldcaddy77 commented on #404
Merged into `beta` branch: https://github.com/goldcaddy77/warthog/tree/beta

[2020-09-03 01:59] #404 closed

[2020-09-04 02:16] goldcaddy77 commented on #298
Implemented in beta branch: https://github.com/goldcaddy77/warthog/pull/328

[2020-09-04 02:16] #298 closed

[2020-09-04 02:33] goldcaddy77 opened #406 "BaseService should work even if you don't use the standard Warthog columns"
Update the standard methods so that they don't expect these columns and can be used even if the tables don't contain them.

[2020-09-06 20:27] bedeho commented on #338
Hi, what is the status on this? Is there anything we can do to help advance this along sooner, we would love to ship with this feature as part of an upcoming release.

[2020-09-08 02:07] goldcaddy77 commented on #338
Hey, I put this on hold to work on various items for [Warthog V3](https://github.com/goldcaddy77/warthog/milestone/1).  Will dust it off right now and see if I can push it through.

[2020-09-08 04:30] bedeho commented on #338
Would mean the world to us, thank you so much, how could we keep up with that? Please let us know if you crack open a PR or something at some point.

[2020-09-08 04:32] goldcaddy77 commented on #338
I worked on it a bunch tonight... Still need to wire things up in BaseService. I can probably finish it up tomorrow night.

[2020-09-08 07:01] bedeho commented on #338
Fantastic!

[2020-09-09 03:43] goldcaddy77 commented on #406
Completed in beta branch for V3: https://github.com/goldcaddy77/warthog/pull/407

[2020-09-09 03:43] #406 closed

[2020-09-09 03:44] goldcaddy77 opened #409 "Feature: add `not_in` and `not_eq` decorators"

[2020-09-09 12:53] goldcaddy77 commented on #338
Did a bunch more work last night - getting close: https://github.com/goldcaddy77/warthog/pull/408. Just need one more push.

[2020-09-10 06:23] goldcaddy77 commented on #338
One more push got things very close: https://github.com/goldcaddy77/warthog/pull/408/commits .  You can start playing with it on branch  `issue-338-relay-spec` if you want.  I need more tests though before I want to merge it down.

[2020-09-10 06:48] bedeho commented on #338
Great, will ask one of our guys to try using it asap and provide feedback.

[2020-09-10 10:40] metmirr commented on #338
@goldcaddy77 I tried to play with it on that branch but I am getting errors. For example, I created a sample model named `User` and then I tried to run `warthog codegen` it failed with these errors:

[code]

Building and installing warthog:

1. Build warthog from  `issue-338-relay-spec` branch - `yarn build`
2. Install the version from step 1 - `yarn add /path/to/warthog.tgz`

[2020-09-11 02:35] goldcaddy77 commented on #338
I'm working on this now and plan on having this merged in the next few hours.

[2020-09-11 05:00] goldcaddy77 commented on #338
Merged: https://github.com/goldcaddy77/warthog/pull/408

Let me know if this works.  You can find usage here:

- https://github.com/goldcaddy77/warthog/blob/eeddc26e52a2ef18bd34fd727eb06a7d24f3ae59/src/core/BaseService.test.ts#L67
- https://github.com/goldcaddy77/warthog/blob/eeddc26e52a2ef18bd34fd727eb06a7d24f3ae59/src/test/modules/dish/dish.resolver.ts#L110-L116

[2020-09-11 20:13] goldcaddy77 commented on #338
@bedeho / @metmirr let me know how this works.  Currently porting it to V3 as well.

[2020-09-12 07:42] bedeho commented on #338
Hopefully, @metmirr can get back to you by Monday ;)

[2020-09-16 07:10] metmirr commented on #338
@goldcaddy77 by following the usage in the tests I was able to create a connection. Now my question is cli is not generating connection related `ObjectType`, `ArgType` etc. So do I need to define these types for every resolver that I have? For the `Dish` example you have defined `DishEdge`, `DishConnection`, `ConnectionPageInputOptions`, and `DishConnectionWhereArgs`

[2020-09-19 23:44] goldcaddy77 commented on #103
@popovserhii just wanted to let you know that this works in Warthog V3 Beta.  I'll release V3 in October, but you can start playing with it now with `yarn add warthog@beta`

[2020-09-19 23:44] #103 closed

[2020-09-19 23:47] goldcaddy77 opened #411 "Feat: add support for typed JSON columns"
From gitter:

[code]

[2020-09-20 04:35] goldcaddy77 commented on #411
PR ready here: https://github.com/goldcaddy77/warthog/pull/412

[2020-09-23 00:12] goldcaddy77 commented on #338
Hi, yes for now you do need to create those manually, but we can add an option to auto-generate them pretty easily.  Feel free to take a stab.  You'll just need to add the additional functions to https://github.com/goldcaddy77/warthog/blob/main/src/schema/TypeORMConverter.ts and call them in https://github.com/goldcaddy77/warthog/blob/main/src/schema/SchemaGenerator.ts

[2020-09-23 03:49] goldcaddy77 opened #414 "Make libraries peerDependencies"
- TypeScript
- GraphQL
- What others?

[2020-09-24 04:36] goldcaddy77 opened #415 "CLI doesn't work in a monorepo where packages don't have their own node_modules folder"

[2020-09-28 00:15] goldcaddy77 opened #416 "Update typescript `paths` to clean up the examples"
Instead of importing warthog from `../../../src`, you could do `warthog`.

[2020-09-28 00:16] goldcaddy77 opened #418 "Allow `WARTHOG_DB_URL` config option that sets all DB config"

[2020-09-28 01:13] goldcaddy77 commented on #418
Added in v3 `beta` branch: https://github.com/goldcaddy77/warthog/pull/419

[2020-09-28 01:13] #418 closed

[2020-09-28 17:21] dzhelezov opened #422 "Allow custom PubSubEngine for GraphQL PubSub"
By default ApolloServer uses an EventEmitter-based PubSubEngine, and in general it is recommended to use a more scalable (like Redis-based) one. However, it doesn't seem to be possible to provide a custom implementation since as the`pubSub` implementation should be passed to the `buildSchema` call here : https://github.com/goldcaddy77/warthog/blob/b4649819be8b9af1627f2261532fcae6140246a2/src/core/

[2020-09-28 22:31] goldcaddy77 commented on #422
Good call. Will take a crack at it this week.

[2020-09-29 03:10] #416 closed

[2020-09-29 03:11] goldcaddy77 commented on #102
Closing, will revisit if this comes up again.

[2020-09-29 03:11] #102 closed

[2020-09-29 03:12] #122 closed

[2020-09-29 03:14] goldcaddy77 commented on #147
Hey all, note that I'm planning on adopting a monorepo in V3!

[2020-09-29 03:14] #177 closed

[2020-09-29 03:16] #294 closed

[2020-09-29 03:17] #321 closed

[2020-09-29 03:19] #366 closed

[2020-09-29 03:20] #382 closed

[2020-09-29 03:21] #389 closed

[2020-09-29 03:21] #409 closed

[2020-09-29 03:22] #414 closed

[2020-09-29 03:27] goldcaddy77 commented on #24
This will be fixed in Warthog V3, closing.

[2020-09-29 03:27] #24 closed

[2021-01-09 15:08] goldcaddy77 opened #424 "CLI `new` command does not properly grab process.cwd() when running as yarn script"

[2021-01-09 15:12] goldcaddy77 opened #425 "CLI `generate` misses `JsonObject` import for json types"

[2021-01-09 15:13] goldcaddy77 commented on #425
Change this line:

[code]

...to be...

[code]

[2021-01-14 08:00] metmirr commented on #422
@goldcaddy77 what is the status of this issue? Isn't implemented right?

[2021-01-19 22:01] goldcaddy77 commented on #422
Hi @metmirr , this is not implemented yet.  If you want to put in a PR I'm happy to review and get it integrated.

[2021-02-09 15:04] ghaedi1993 commented on #223
i make it work ,manually by adding partial index from inside postgresql as follows
[code]

[code]

is not resulting the same, makes an index in database but not imposing any unique policy . feature's still not implemented or im getting it wronge ?

[2021-02-14 04:36] goldcaddy77 commented on #223
You're right - the feature is still not implemented.  Your solution is interesting.  There is no reason that I couldn't create my own Unique decorator that adds this type of index.  I'm going to look into whether TypeORM has come up with an elegant solution for this as it seems like a pretty common problem.

[2021-03-24 02:14] goldcaddy77 opened #431 "Add `default` option on BooleanField"

[2021-04-24 19:31] goldcaddy77 opened #432 "BaseService delete should filter out previously deleted items"

[2021-04-26 00:23] goldcaddy77 opened #434 "Create `Database` service class that can be injected"

[2021-04-26 02:38] goldcaddy77 commented on #434
Closed by #435

[2021-04-26 02:38] #434 closed

[2021-04-26 02:39] goldcaddy77 opened #436 "Need BaseClass that will work properly when inherited"

[2021-04-26 16:42] goldcaddy77 commented on #436
Closed by https://github.com/goldcaddy77/warthog/pull/437

[2021-04-26 16:42] #436 closed

[2021-04-26 16:45] goldcaddy77 commented on #434
:tada: This issue has been resolved in version 3.0.0-beta.7 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/warthog)
- [GitHub release](https://github.com/goldcaddy77/warthog/releases/tag/v3.0.0-beta.7%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-26 16:45] goldcaddy77 commented on #436
:tada: This issue has been resolved in version 3.0.0-beta.7 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/warthog)
- [GitHub release](https://github.com/goldcaddy77/warthog/releases/tag/v3.0.0-beta.7%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-26 17:17] goldcaddy77 opened #439 "Improve the PubSub example"
It is incomplete.  Perhaps use Redis.

[2021-04-27 02:20] #411 closed

[2021-04-27 02:21] goldcaddy77 commented on #432
Done in `beta` branch and will be released in 3.0.

[2021-04-27 02:21] #432 closed

[2021-04-27 02:22] goldcaddy77 commented on #422
This has been implemented.  See https://github.com/goldcaddy77/warthog/blob/main/src/core/server.ts#L185

[2021-04-27 02:22] #422 closed

[2021-04-27 02:22] goldcaddy77 commented on #390
This has been merged.

[2021-04-27 02:22] #390 closed

[2021-04-27 02:27] goldcaddy77 commented on #331
Make sure we hit all the points from https://github.com/goldcaddy77/warthog/issues/338 for relay connections.

[2021-04-27 02:29] goldcaddy77 commented on #371
Hey @diegonc .  I'd still be interested in getting this represented in the examples folder if you're interested in adding it.

[2021-04-27 03:29] goldcaddy77 opened #441 "Remove BaseWhereInput in `beta` branch"

[2021-04-27 04:30] goldcaddy77 opened #442 "Fix Production example in `beta` branch"

[2021-04-27 04:35] goldcaddy77 opened #443 "New BaseService should allow filtering by `id` (eq, in) by default"

[2021-04-27 05:10] goldcaddy77 commented on #443
Closed by https://github.com/goldcaddy77/warthog/pull/445

[2021-04-27 05:10] #443 closed

[2021-04-27 05:10] goldcaddy77 commented on #441
Completed in #444

[2021-04-27 05:10] #441 closed

[2021-04-30 17:07] goldcaddy77 opened #446 "V3: bump all dependencies to latest"

[2021-05-03 00:45] goldcaddy77 opened #447 "V3: Add Production defaults to config"
WARTHOG_DB_ENTITIES: 'dist/src/**/*.model.js',
      WARTHOG_DB_ENTITIES_DIR: 'dist/src/models',
      WARTHOG_DB_SUBSCRIBERS: 'dist/src/**/*.model.js',
      WARTHOG_DB_SUBSCRIBERS_DIR: 'dist/src/subscribers',
      WARTHOG_RESOLVERS_PATH: 'dist/src/**/*.resolver.js',
      WARTHOG_DB_MIGRATIONS: 'dist/db/migrations/**/*.js',
      WARTHOG_DB_MIGRATIONS_DIR: 'dist/db/migrations',
      WARTHOG_SE

[2021-05-03 00:49] goldcaddy77 commented on #447
Fixed in https://github.com/goldcaddy77/warthog/pull/448

[2021-05-03 00:49] #447 closed

[2021-05-04 23:04] diegonc commented on #371
Hi, where should I put it? Do I just pick the next number and create a new folder?

[2021-05-05 02:56] goldcaddy77 commented on #371
Yeah, that works.  I typically just copy the last folder, re-number the DB name, etc... and gut the model, service and resolver of what's not needed.

[2021-05-08 17:34] goldcaddy77 commented on #339
I'm in the process of getting ready for 3.0.  I've been working on it for a while in the [beta branch](https://github.com/goldcaddy77/warthog/tree/beta).  So far, I've added:

- Decorators for
  - `PrimaryIdField`
  - `CreatedAtField`
  - `CreatedByField`
  - `DeletedAtField`
  - `DeletedByField`
  - `UpdatedAtField`
  - `UpdatedByField`
  - `VersionField`
- New more flexible `BaseModel` and light

[2021-05-08 17:38] goldcaddy77 commented on #339
I'm in the process of getting ready for 3.0.  I've been working on it for a while in the [beta branch](https://github.com/goldcaddy77/warthog/tree/beta).  So far, I've added:

- Decorators for
  - `PrimaryIdField`
  - `CreatedAtField`
  - `CreatedByField`
  - `DeletedAtField`
  - `DeletedByField`
  - `UpdatedAtField`
  - `UpdatedByField`
  - `VersionField`
- New more flexible `BaseModel` and light

[2021-05-08 17:40] goldcaddy77 commented on #338
@metmirr going to track the auto-gen for Connection queries in https://github.com/goldcaddy77/warthog/issues/331, closing.

[2021-05-08 17:40] #338 closed

[2021-05-08 20:40] diegonc commented on #371
Sorry I cannot seem to make it work like it did at that time. Even my original project looks broken now. I cannot make Person and Group implement Party at the graphql schema.

Extending from Party doesn't add the implements clause and adding {api: {implements: Party}} to group or person gives an error:

[code]

[2021-05-08 23:41] goldcaddy77 commented on #371
Can you shoot me a link to your branch?

[2021-05-09 15:38] diegonc commented on #371
This is what I have so far:

https://github.com/diegonc/warthog/tree/t/single-table-inheritance

[2021-05-09 16:23] goldcaddy77 commented on #371
Note to self to see diff: https://github.com/goldcaddy77/warthog/compare/main...diegonc:t/single-table-inheritance

[2021-05-10 14:34] dzhelezov commented on #339
Hi, congrats on getting close to V3! Here are a few nice-to-haves that we had to work around ourselves while using warthog.

- Upgrade pg/pgtools lib. The current version makes warthog unworkable with Node 14 due to https://github.com/typeorm/typeorm/issues/5949
- Make config more forgiving. We oftentimes import wathog-decorated model classes in external independent data loaders, and it's a bit aw

[2021-05-10 23:42] goldcaddy77 opened #450 "CLI: revert migrations"

[2021-05-11 04:11] goldcaddy77 opened #451 "Update libraries to provide support for Node 14"
- Upgrade pg/pgtools lib. The current version makes warthog unworkable with Node 14 due to https://github.com/typeorm/typeorm/issues/5949

[2021-05-11 04:22] goldcaddy77 opened #453 "Make Config more forgiving"
Make config more forgiving. We oftentimes import wathog-decorated model classes in external independent data loaders, and it's a bit awkward to set WARTHOG_* env variables just to be able to use the classes (as config() is picked up through the decorators and throws an error if the warthog env variables are not set). It would be nice (but not strictly necessary) to be able to pack the model classe

[2021-05-11 04:24] goldcaddy77 opened #454 "Native support for more specific types"
From: @dzhelezov

Native support for long integers (ts type BigInt). It probably requires an opinionated choice of a suitable GraphQL scalar + numeric Postgres type.

[2021-05-11 04:24] goldcaddy77 commented on #339
Created tickets for your items:

- https://github.com/goldcaddy77/warthog/issues/453
- https://github.com/goldcaddy77/warthog/issues/451
- https://github.com/goldcaddy77/warthog/issues/454

Also: `The id field was for some reason excluded from the list of properties one can filter on, so it was hard to use semantically meaningful ids and use integer id types` is already fixed in V3.

[2021-05-11 07:48] dzhelezov commented on #339
I should double-check but I think smth like
[code]
didn't work due to
- missing default transformers for typeorm
- GraphQL `Int` field being only 32-bit

We ended up doing this:
[code]
with some custom `NumericTransformer` and `GraphQLBigNumber` scalar

[2021-05-12 04:27] goldcaddy77 commented on #453
@dzhelezov I think this was happening because I was loading the metadata class here:

https://github.com/goldcaddy77/warthog/blob/main/src/decorators/WarthogField.ts

In 3.0 I've changed the metadata pipeline to instead write the metadata properties onto the class and then subsequently read them when I'm doing codegen:

https://github.com/goldcaddy77/warthog/blob/beta/src/decorators/WarthogField.t

[2021-05-12 04:27] goldcaddy77 commented on #453
Can you give me a quick example of how I'd test this?

[2021-05-12 04:29] goldcaddy77 commented on #431
This is already done.

[2021-05-12 04:29] #431 closed

[2021-05-12 04:41] goldcaddy77 commented on #402
This has been fixed and is in V3.

DateOnlyField = string
DateTimeField = Date

[2021-05-12 04:41] #402 closed

[2021-05-12 04:47] goldcaddy77 commented on #94
I've added a pattern for doing transactions in this example: https://github.com/goldcaddy77/warthog/blob/main/examples/11-transactions/src/user.service.ts

I've opted not to put too much magic in because I want folks to have control over how transactions work.  Note that BaseService also supports passing in a Transaction Manager so that you can have it process within the same transaction.

[2021-05-12 04:47] #94 closed

[2021-05-12 07:51] dzhelezov commented on #453
Simply import `User` from say https://github.com/goldcaddy77/warthog/blob/main/examples/01-simple-model/src/user.model.ts and try to save it:

[code]

The code above should work without WARTHOG_* variables being set (but the db with the typeorm defaults should be accepting connections)

[2021-05-21 18:05] goldcaddy77 opened #455 "Add ownerId decorator"
Add `ownerId` decorator and add column to BaseModel

[2021-05-28 18:51] goldcaddy77 commented on #455
Done in https://github.com/goldcaddy77/warthog/pull/456

[2021-05-28 18:51] #455 closed

[2021-05-28 18:58] goldcaddy77 commented on #454
If part of this ticket requires additional GraphQL scalars, use https://www.graphql-scalars.dev/

[2021-05-28 19:34] goldcaddy77 opened #457 "Bring your own DB connection"

[2021-05-28 20:07] goldcaddy77 commented on #457
Fixed in https://github.com/goldcaddy77/warthog/pull/458

[2021-05-28 20:07] #457 closed

[2021-05-30 02:39] goldcaddy77 opened #459 "Create `TextField` Decorator"

[2021-05-30 03:35] goldcaddy77 commented on #459
Fixed in https://github.com/goldcaddy77/warthog/pull/460

[2021-05-30 03:35] #459 closed

[2021-05-30 03:55] goldcaddy77 opened #462 "Use `timestamptz` for datetimes"

[2021-05-30 04:07] goldcaddy77 commented on #462
Covered in https://github.com/goldcaddy77/warthog/pull/463

[2021-05-30 04:07] #462 closed

[2021-06-08 19:29] metmirr opened #464 "Fetching typed json fields"
Resolvers don't fetch typed json fields when a resolver function has the `@Fields` parameter.  The example below is taken from examples/02:

[code]

![image](https://user-images.githubusercontent.com/11671753/121245406-4998b800-c8a0-11eb-8947-cb4cd23f9b90.png)

[2021-06-11 12:01] Keryx42 opened #465 "Create Migrations does nothing"
Hi first thank for creating this awesome project :)
I have a question maybe it's a bug or I am doing something completely wrong.
It's a fresh created project.

I tried my best formatting the informations readable ^^°

### Background
- Running on a Macbook Pro with Catalina V 10.15.7
- Yarn Version: 1.22.10
- Node.js Version: v15.14.0
- PostgreSQL 13.3 inside a Docker // shema already created
packa

[2021-06-11 20:12] Keryx42 commented on #465
**Update**
I stumbled over the warthog-starter repos issues and saw this issue https://github.com/goldcaddy77/warthog-starter/issues/71 regarding similar problems. I just downgraded my node version to 13 to test if it would make a difference and indeed now everything works. It's maybe not a final solution but at least a temporary work around^^°

[2021-06-12 05:45] goldcaddy77 commented on #465
@Keryx42  I'm glad you figured it out. I have a fix for newer versions of node - will get that in this weekend.

[2021-06-12 05:51] goldcaddy77 commented on #464
@metmirr Are you sure that record has a value in the DB?

[2021-06-12 09:30] metmirr commented on #464
Yes, I am. Resolver without `@Fields` returns this data:
![image](https://user-images.githubusercontent.com/11671753/121771743-9961d280-cb71-11eb-8c6c-eb6b9bad7f4f.png)

[2021-06-13 06:18] metmirr opened #466 "Filtering typed json fields"
Here https://github.com/goldcaddy77/warthog/pull/412 it is assumed filtering would work. There are some issues with generated classes and schema when `filter: true` is provided. Look at the `warthog/examples/02` and change `filter` to true:

[code]

In the `generated/classes.ts` there will a graphql field definition like this

[code]

Since the filtering is enabled the graphql field and typescript

[2021-06-13 12:33] goldcaddy77 commented on #466
@metmirr  Thanks for logging the issue. Will take a look at it tonight.

[2021-06-15 02:33] goldcaddy77 commented on #466
Fixed in https://github.com/goldcaddy77/warthog/pull/467

[2021-06-15 02:33] goldcaddy77 commented on #464
Fixed in https://github.com/goldcaddy77/warthog/pull/467

[2021-06-15 02:43] goldcaddy77 commented on #464
Note that I needed to update the behavior of the `Fields` decorator to include all top-level fields.  This will bring along both JSON fields as well as associations.  Then `BaseModel` makes sure all values passed into `find` are actually fields on the table.  This is technically a breaking change - but I'd argue the `Fields` decorator wasn't really working as designed anyway.  Do you think this is

[2021-06-15 02:47] goldcaddy77 commented on #466
@metmirr since the filtering mechanism in `BaseService` will query an arbitrary depth, it probably doesn't make sense to type the `WhereInput`, right?  Check out [the PR](https://github.com/goldcaddy77/warthog/pull/467).  The create/update inputs and the returned objects are typed, but the filtering isn't.  Does this make sense?

[2021-06-15 03:19] goldcaddy77 commented on #465
Node 14+ now supported: https://github.com/goldcaddy77/warthog/pull/468

[2021-06-15 03:19] #465 closed

[2021-06-15 04:37] goldcaddy77 commented on #464
I've merged this.  Feel free to play around and let me know if you think anything needs to be tweaked.

[2021-06-15 04:39] goldcaddy77 opened #469 "V3: Explore Github Actions for running tests on multiple versions of Node"

[2021-06-15 11:57] metmirr commented on #464
I think this is it, the decorator is working as expected with jsons, relations etc.

[2021-06-15 11:58] metmirr commented on #464
Working perfectly as expected, thank you so much! Really appreciated!

[2021-06-15 11:58] #464 closed

[2021-06-15 12:00] metmirr commented on #466
Yeah, make sense to keep where input as json.
Works as expected! Thanks very much!

[2021-06-15 12:00] #466 closed

[2021-07-04 18:40] goldcaddy77 opened #470 "CLI: warthog `db:create` should pull DB name from `WARTHOG_DB_URL`"
Currently, you need to specify `WARTHOG_DB_DATABASE`, it will not pull from `WARTHOG_DB_URL`

[2021-07-07 18:31] goldcaddy77 opened #471 "Add GeoPoint decorator"

[2021-07-21 10:51] Suya1671 opened #473 "use typeorm/cli.js instead of .bin/typeorm when running migrations and stuff"
reference: https://github.com/typeorm/typeorm/issues/2316

This Issue is currently preventing me from using warthog in my project.

[2021-07-21 16:44] goldcaddy77 commented on #473
@Suyashtnt since the Warthog CLI proxies to TypeORM, could you use their workaround to get things working in Warthog?  This means using the raw commands from this file: https://github.com/goldcaddy77/warthog/blob/main/src/cli/extensions/db-extension.ts

[2021-08-23 18:52] goldcaddy77 opened #474 "Allow path to custom ormconfig"
Currently, you need to use the generated ormconfig.  Allow usage of custom ormconfig by ENV var.